<section class="footer-bg  ">
    <div class="container pt-lg-5  py-2 ">
      <div class="d-none d-md-block">
      <div class="row  mt-lg-5 mt-3 ">
        <div class="col-md-3 ">
<img src="../../assets/img/logo.png" alt="logo" class="img-fluid">
        </div>
        <div class="col-md-2 col-2">
          <p class="philosopher-28-bold colour-1">History</p>
          <ul class="list-unstyled">
            <li><a href="/"  class="font-outfit-light-18 colour-1 p-1">Home </a></li>
            <li class="font-outfit-light-18 colour-1 p-1"> <a href="/about">About Us</a></li>
            <li class="font-outfit-light-18 colour-1 p-1"><a href="/website-development">Services</a></li>
            <li class="font-outfit-light-18 colour-1 p-1"><a href="/contact">Contact Us</a></li>
          </ul>
     
  
        </div>
        <div class="col-md-2">
          <p class="philosopher-28-bold colour-1 col-2">Support</p>
          <ul class="list-unstyled">
            <li><a href="#"  class="font-outfit-light-18 colour-1 p-1">Articles </a></li>
            <li class="font-outfit-light-18 colour-1 p-1"> <a href="#">How We Work</a></li>
            <li class="font-outfit-light-18 colour-1 p-1"><a href="#">Testimonials</a></li>
            <li class="font-outfit-light-18 colour-1 p-1"><a href="#">FAQ's</a></li>
          </ul>
       
        </div>
        <div class="col-md-2 col-2">
          <p class="philosopher-28-bold colour-1">Info</p>
          <ul class="list-unstyled">
            <li><a href="/website-development"  class="font-outfit-light-18 colour-1 p-1">Services
            </a></li>
            <li class="font-outfit-light-18 colour-1 p-1"> <a href="#">Price Plan
            </a></li>
            <li class="font-outfit-light-18 colour-1 p-1"><a href="/contact">Contact
            </a></li>
            <li class="font-outfit-light-18 colour-1 p-1"><a href="#">Career</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <p class="font-outfit-light-18 ">Follow us </p>
          <div  class="mb-2">
            <a href="https://www.linkedin.com/company/crrescita-innovators-p-limited/" class="social-icon me-2 "target="_blank" >
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="#" class="social-icon me-2" target="_blank">
                <i class="fa-brands fa-pinterest-p"></i>
            </a>
            <a href="#" class="social-icon me-2" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/crrescita/" class="social-icon me-2" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
          <p class="font-outfit-20 fw-normal">
        
            W4 D, 151, Western Ave, Block H, Neb Sarai, Sainik Farm, New Delhi, Delhi 110062
            </p>
            <p class="font-outfit-20 fw-normal">
              <i class="bi bi-telephone"></i> 080766 68461
          </p>
         
        </div>
      </div>
    </div>
    <div class="d-block d-md-none">
      <div class="row mt-lg-5 mt-2 mb-3 px-3">
        <div class="text-center">
          <img src="../../assets/img/logo.png" alt="logo" class="img-fluid  ">
          
          <div class="d-flex justify-content-evenly   mt-4">
            <div class="col-4 text-start ">
              <p class="philosopher-24-bold colour-1">History</p>
              <ul class="list-unstyled ">
                <li class=" font-outfit-light-16 colour-1 py-1"><a href="#">Home</a></li>
                <li class="font-outfit-light-16 colour-1 py-1"><a href="#">About Us</a></li>
                <li class="font-outfit-light-16 colour-1 py-1"><a href="#">Blog</a></li>
                <li class="font-outfit-light-16 colour-1 py-1"><a href="#">Portfolio</a></li>
              </ul>
            </div>
    
            <div class="col-4 text-start mx-2">
              <p class="philosopher-24-bold colour-1">Support</p>
              <ul class="list-unstyled ">
                <li class="font-outfit-light-16 colour-1 py-1"><a href="#" >Articles</a></li>
                <li class="font-outfit-light-16 colour-1 py-1"><a href="#">How We Work</a></li>
                <li class="font-outfit-light-16 colour-1 py-1"><a href="#">Testimonials</a></li>
                <li class="font-outfit-light-16 colour-1 py-1"><a href="#">FAQ's</a></li>
              </ul>
            </div>
    
            <div class="col-4 text-start mx-2">
              <p class="philosopher-24-bold colour-1">Info</p>
              <ul class="list-unstyled ">
                <li class="font-outfit-light-16 colour-1 py-1"><a href="#" >Services</a></li>
                <li class="font-outfit-light-16 colour-1 py-1"><a href="#">Price Plan</a></li>
                <li class="font-outfit-light-16 colour-1 py-1"><a href="#">Contact</a></li>
                <li class="font-outfit-light-16 colour-1 py-1"><a href="#">Career</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    
      <hr class="footer-hr  mt-lg-5">
      <p class="text-center m-0 p-0">All Right Reserved © 2024 </p>
    <p class="text-center">Privacy Policy | Terms & Conditions</p>
    </div>
    
  </section>
