<!-- Desktop view  start section-one -->
<section class=" d-none d-md-block ">
    <div class="banner-desktop-home">
        <div class="container my-5">
            <div class="row ">
                <div class="col-md-10 col-12 ">
                    <div class="banner-content  ">
                        <p class="font-outfit-20">Design Agency</p>
                        <p class="philosopher-86-bold colour-1 text-uppercase">CONTACT US</p>
                        <hr class="home-border">
                        <div class="row">
                            <div class="col-md-8 col-lg-7 col-10">
                        <p class="banner-font-24 colour-2">Let’s embark on a journey to elevate your brand and bring
                            your vision to life. Contact us today and see how we can turn your aspirations into reality,
                            making your brand not just seen but remembered.</p>
                            </div>
                            </div>
                        <button href="#" class="btn-style px-2 py-0">
                            Get Started
                            <i class="fa-regular fa-circle mx-1 mt-1 " style="color: #f0f2f4; font-size: 10px;"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Desktop view section-one end-->
<!-- Mobile view  start section-one -->
<section class=" d-block d-md-none ">
    <div class="banner-mob-home">
        <div class="container my-5">
            <div class="row ">
                <div class="col-md-10 col-12 ">
                    <div class="banner-content   pt-5">
                        <p class="font-outfit-20 m-0">Design Agencys</p>
                        <p class="philosopher-36-bold colour-1 text-uppercase m-0">CONTACT US</p>
                        <hr class="home-mob-border m-0 ">
                        <p class="banner-font-24 colour-2 pt-1">We'd love to hear from you. Let's start a conversation
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Mobile view section-one end-->
<section class="mt-md-5 mb-5 mt-4">
    <div class="d-none d-md-block "style="background-color:rgba(232, 211, 115, 1);">
    <div class="container" >
        <div class="row text-center mt-4">
            <div class="col-md-4 offset-bottom">
                <div class="py-5 d-flex border-box-r flex-column justify-content-center align-items-center contact-box h-100">
                    <p class="font-outfit-bold-24 text-uppercase colour-1">
                        <i class="fa-solid fa-clock me-2"></i>Hours of creative work
                    </p>
                    <p class="mb-0 font-outfit-s-20 colour-3">9:00- 18:00 (Mon- Fri)
                        <br> Excluding Holidays
                    </p>
                </div>
            </div>
            <div class="col-md-4 offset-bottom ">
                <div class="py-5 d-flex border-box-r flex-column justify-content-center align-items-center contact-box h-100">
                    <p class="font-outfit-bold-24 text-uppercase colour-1">
                        <i class="fa-solid fa-phone me-2 "></i>Phone Number
                    </p>
                    <p class="mb-0 font-outfit-s-20 colour-3">0123456789
                       
                    </p>
                </div>
            </div>
            <div class="col-md-4 offset-bottom ">
                <div class="py-5 d-flex border-box-r flex-column justify-content-center align-items-center contact-box h-100">
                    <p class="font-outfit-bold-24 text-uppercase colour-1">
                        <i class="fa-solid fa-envelope me-2"></i>General Enquiry
                    </p>
                    <p class="mb-0 font-outfit-s-20 colour-3">
                        infocrrescita&#64;crrescita.com
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- movbile view -->
    <div class="d-block d-md-none  back-img">
        <div class="container" >
            <div class="row text-center mt-5">
                <div class="col-12 mb-5 px-4">
                    <div class="py-3 d-flex border-box-r flex-column justify-content-center align-items-center contact-box h-100">
                        <p class="font-outfit-bold-24 colour-1">
                            <i class="fa-solid fa-clock me-2"></i>Hours of creative work
                        </p>
                        <p class="mb-0 font-outfit-s-20 colour-3">10:00- 19:00 (Mon- Fri)
                            <br> Excluding Holidays
                        </p>
                    </div>
                </div>
                <div class="col-12 mb-5 px-4">
                    <div class="py-3 d-flex border-box-r flex-column justify-content-center align-items-center contact-box h-100">
                        <p class="font-outfit-bold-24 colour-1">
                            <i class="fa-solid fa-phone me-2 "></i>Phone Number
                        </p>
                        <p class="mb-0 font-outfit-s-20 colour-3"> 080766 68461
                        </p>
                    </div>
                </div>
                <div class="col-12 px-4">
                    <div class="py-3 d-flex border-box-r flex-column justify-content-center align-items-center contact-box h-100">
                        <p class="font-outfit-bold-24 colour-1">
                            <i class="fa-solid fa-envelope me-2"></i>General Enquiry
                        </p>
                        <p class="mb-0 font-outfit-s-20 colour-3"> contact&#64;crrescita.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </div>

    <div class="container ">
        <div class="row justify-content-center mt-md-5 mt-4 pt-md-5">
            <div class="col-md-8  text-center">
                <p class="font-outfit-24 colour-1">Our dedicated team is ready and eager to assist you with all your design and marketing needs. 
                    Reach out to us today, and let’s create something amazing together</p>
            </div>
        </div>
    </div>
</section>


<section class="mt-lg-5 mt-4 pt-lg-4">
    <div class="" style="background: linear-gradient(359.98deg, rgba(255, 255, 255, 0.8) 0.02%, rgba(232, 211, 115, 0.8) 33.54%, rgba(232, 211, 115, 0.8) 52.84%, rgba(232, 211, 115, 0.8) 71.28%, rgba(255, 255, 255, 0.8) 99.98%); ">
    <div class="container">
        <div class="row justify-content-center"  >
            <div class="col-lg-5 mb-4  ">
                <img src="../../assets/img/contact/imag11.png" alt="" class="img-fluid custom-img">
            </div>
            <div class="col-lg-7 pt-4 ">
                <form class="mt-lg-5 mt-3 custom-form ms-lg-5 " [formGroup]="formGroup"  (ngSubmit)="submit()">
                    <p class="philosopher-40-bold colour-1 text-center text-md-start">LET'S GET IN TOUCH</p>
                    <div class="form-style mt-4">
                        <div class="form-group mb-5 mt-4">
                            <input type="text" class="form-control custom-input" formControlName="name" placeholder="Name"[ngClass]="{
                                'is-invalid':
                                  g['name'] && g['name'].errors && g['name'].touched
                              }">
                              <small *ngIf="g['name'] && g['name'].hasError('required') &&
                              g['name'].touched" class="font-outfit-light-14 colour-3 px-2">Please Enter Your Name</small> 
                                
                            <hr class="form-hr m-0 p-0">
                        </div>
                        <div class="form-group mb-5">
                            <input type="text" class="form-control custom-input" formControlName="phone" placeholder="Phone Number"
                            [ngClass]="{
                                'is-invalid':
                                  g['phone'] && g['phone'].errors && g['phone'].touched
                              }">
                              <small *ngIf="g['phone'] && g['phone'].hasError('required') &&
                              g['phone'].touched" class="font-outfit-light-14 colour-3 px-2">Please Enter Your Phone Number</small>   
                            <hr class="form-hr m-0 p-0">
                        </div>
                        <div class="form-group mb-5">
                            <input type="email" class="form-control custom-input" formControlName="email" placeholder="Email"
                            [ngClass]="{
                                'is-invalid':
                                  g['email'] && g['email'].errors && g['email'].touched
                              }">
                               <small *ngIf="g['email'] && g['email'].hasError('required') &&
                               g['email'].touched" class="font-outfit-light-14 colour-3 px-2">Please Enter Your Email</small>   
                            <hr class="form-hr m-0 p-0">
                        </div>
                        <div class="form-group mb-5">
                            <textarea class="form-control custom-input mb-0 pb-0" formControlName="message" placeholder="Message"></textarea>
                            <hr class="form-hr m-0 p-0">
                        </div>
                        <div class="form-group mb-5">
                            <button type="submit" class="btn-style py-0 px-2">Get In Touch</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</section>

<section class="mt-lg-5 mt-5 pt-3 pt-lg-5">
    <div class="container">
        <div class="row box-contact-border">
            <div class="col-md-7 col-12 order-2 order-md-1 d-flex justify-content-center flex-column mb-3 ">
               <p class="font-outfit-24 colour-4 px-3">WE are renowed</p>
               <div class="box py-4">
           <p class="philosopher-40-bold  colour-1 px-3">Founded with a Vision to provide elegant designs</p>
           <p class="font-outfit-light-24 colour-3 px-3">Our team of talented designers craft beautifully elegant designs for websites, branding, packaging and more to elevate your brand.</p>
               </div>
            </div>
            <div class="col-md-5 order-1 order-md-2 mb-3">
                <img src="../../assets/img/contact/img2.png" alt="" class="img-fluid w-100 ">
            </div>
        </div>

    </div>
</section>

<section class=" mt-lg-5 mt-5 pt-lg-4 mb-lg-5 pb-5 mb-2">
    <div class="container px-lg-0 px-4">
        <div class="row " style="background: linear-gradient(180deg, #0559CC 0%, #01193A 100%);">
            <div class="mt-lg-5 pt-lg-5 pt-3 d-flex justify-content-between align-items-center px-lg-5">
                <div class="col-md-6 col-7 ">
                    <p class="card-section-font colour-2  mt-lg-5 mb-md-3 mb-2">CRAFTING UNIQUE SOLUTIONS FOR YOUR BUSINESS</p>
                </div>
                <div class="col-md-6 col-5  d-flex justify-content-end ">
                    <a class="btn-seemore mt-lg-5 mt-3 text-white fw-normal">
                        Get Started
                        <i class="fa-regular fa-circle mx-1 mt-1" style="color:  rgba(255, 255, 255, 1); font-size: 10px;"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>




