.banner-desktop-home {

    background-image: url('../../assets/img/contact/contactus-banner-desktop\ .jpg'),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.719), rgba(191, 156, 60, 0.934));;
 background-size: cover;
 background-repeat: no-repeat;
    width: 100%;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 868px;
    min-height: 100vh;
    position: relative;
   
  }

  .banner-mob-home {
    background-image: url('../../assets/img/contact/contact-mob-banner.png'),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.719), rgba(230, 175, 24, 0.934));
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    min-height: 50vh;
    position: relative;


  }

  .banner-content {
    color: white;

    padding: 20px;
    border-radius: 5px;
    max-width: 100%;
  }

  .contact-box{
    background-color: rgba(255, 255, 255, 1);
    border-left: 15px solid rgba(232, 211, 115, 1);
    box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.25);

  }

  .offset-bottom {
    position: relative;
    bottom: -40px;
}
.back-img{
  background-image: url("../../assets/img/contact/back.png");
 
  background-size: cover;
}
.custom-input {
  border-radius: 0;
  padding: 10px 10px; 
 
  border: none;
}
.custom-input:focus {
  outline: none; 
  box-shadow: none; 
}
.form-style {
  border: 1px solid rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  background: linear-gradient(180deg, #FFFFFF 74%, rgba(232, 211, 115, 0.5) 100%);

  padding: 20px;
  margin-top: 50px;
  
  box-shadow: 0px 4px 15.5px 4px rgba(0, 0, 0, 0.3);

}
.form-hr{
  border: 1px solid rgba(232, 211, 115, 1);
  opacity: 1;
}
.custom-img {

 height: 90%;
 
}
.box{
  border: 1px solid rgba(0, 0, 0, 1)
}
.box-contact-border {

  background:
    linear-gradient(#e8d373, #e8d373) 20px 0,
    linear-gradient(#e8d373, #e8d373) 0 calc(100% - 95px);
  padding: 5px 40px 30px 30px;
  background-size: 2px 100%, 100% 2px;
  background-repeat: no-repeat;
}

@media(max-width:767px){
  .box-contact-border {

    background:
      linear-gradient(#e8d373, #e8d373) 20px 0,
      linear-gradient(#e8d373, #e8d373) 0 calc(100% - 20px);
    padding: 5px 0px 30px 20px;
    background-size: 2px 100%, 100% 2px;
    background-repeat: no-repeat;
  }
}


@media (max-width: 1067px) {
  .custom-img {
      width: 100%;
      height: auto;
  }
}

