<!-- Desktop view  start section-one -->
<section class=" d-none d-md-block ">
    <div class="banner-desktop-home">
        <div class="container my-5">
            <div class="row mt-5">
                <div class="col-md-10 col-12 ">
                    <div class="banner-content mt-5  pt-5">
                        <p class="font-outfit-20">Design Agency</p>
                        <p class="philosopher-86-bold colour-1 text-uppercase">CONTACT US</p>
                        <hr class="home-border">
                        <p class="font-outfit-24 colour-2">Let’s embark on a journey to elevate your brand and bring your vision to life. Contact us today and see how we can turn your aspirations into reality, making your brand not just seen but remembered.</p>
                        <button href="#" class="btn-style px-2 py-0">
                            Get Started
                            <i class="fa-regular fa-circle mx-1 mt-1 " style="color: #f0f2f4; font-size: 10px;"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Desktop view section-one end-->
<!-- Mobile view  start section-one -->
<section class=" d-block d-md-none ">
    <div class="banner-mob-home">
        <div class="container my-5">
            <div class="row ">
                <div class="col-md-10 col-12 ">
                    <div class="banner-content   pt-5">
                        <p class="font-outfit-20 m-0">Design Agencys</p>
                        <p class="philosopher-36-bold colour-1 text-uppercase m-0">CONTACT US</p>
                        <hr class="home-mob-border m-0 ">
                        <p class="font-outfit-24 colour-2 pt-1">We'd love to hear from you. Let's start a conversation</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Mobile view section-one end-->


<section class="d-flex justify-content-center align-items-center mt-lg-5 mb-5 mt-4" style="background-color:rgba(232, 211, 115, 1) ;">
    <div class="container">

      
      <div class="row text-center">
        <div class="col-md-4 "  >
            <div class="py-5 d-flex border-box-r flex-column justify-content-center align-items-center contact-box">
            
             <p class="font-outfit-bold-24 colour-1">  <i class="bi bi-star-fill me-2"></i>Hours of creative work</p>
              <p class="mb-0  font-outfit-s-20 colour-3">9:00- 18:00 ( Mon- Fri)<br> Excluding Holidays</p>
            </div>
          </div>
        <div class="col-md-4 "  >
            <div class="py-5 d-flex border-box-r flex-column justify-content-center align-items-center contact-box">
            
             <p class="font-outfit-bold-24 colour-1">  <i class="bi bi-star-fill me-2"></i>Hours of creative work</p>
              <p class="mb-0  font-outfit-s-20 colour-3">9:00- 18:00 ( Mon- Fri)<br> Excluding Holidays</p>
            </div>
          </div>
          <div class="col-md-4 "  >
            <div class="py-5 d-flex border-box-r flex-column justify-content-center align-items-center contact-box">
            
             <p class="font-outfit-bold-24 colour-1">  <i class="bi bi-star-fill me-2"></i>Hours of creative work</p>
              <p class="mb-0  font-outfit-s-20 colour-3">9:00- 18:00 ( Mon- Fri)<br> Excluding Holidays</p>
            </div>
          </div>
      </div>
    </div>
  </section>
  
