<!-- Desktop view  start section-one -->
<section class=" d-none d-md-block ">
    <div class="banner-desktop-home">
        <div class="container my-5">
            <div class="row ">
                <div class="col-md-10 col-12 ">
                    <div class="banner-content ">
                        <p class="font-outfit-20">Design Agency</p>
                        <p class="philosopher-86-bold colour-1 text-uppercase">ABOUT US</p>
                        <hr class="home-border">
                        <div class="row">
                            <div class="col-md-10 col-lg-9 col-10">
                        <p class="banner-font-24 colour-6">Every brand has a story, and we’re here to help you tell it in the most captivating way possible. By leveraging our expertise in strategic branding, innovative design, and market insights, we position your brand for success in a competitive landscape.</p>
                        </div>
                        </div>
                        <button href="#" class="btn-style px-2 py-0" data-bs-toggle="modal" data-bs-target="#contactModal" (click)="trackButtonClick()">
                            Get Started
                            <i class="fa-regular fa-circle mx-1 mt-1 " style="color: #f0f2f4; font-size: 10px;"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Desktop view section-one end-->
<!-- Mobile view  start section-one -->
<section class=" d-block d-md-none ">
    <div class="banner-mob-home">
        <div class="container my-5">
            <div class="row ">
                <div class="col-md-10 col-12 ">
                    <div class="banner-content   pt-5">
                        <p class="font-outfit-20 m-0">Design Agencys</p>
                        <p class="philosopher-36-bold colour-1 text-uppercase m-0">Creative Hub</p>
                        <hr class="home-mob-border m-0 ">
                        <p class="banner-font-24 colour-1 pt-1">Where Ideas Blossom and Designs Shine Bright - Unleash Your Brand's Potential Today!</p>
                        <button href="#" class="btn-style px-2 py-0" data-bs-toggle="modal" data-bs-target="#contactModal" (click)="trackButtonClick()" >Get Started
                            <i class="fa-regular fa-circle mx-1 mt-1 " style="color: #f0f2f4; font-size: 10px;"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Mobile view section-one end-->
<section class="mt-lg-5 mt-4 pt-lg-3">
    <div class="container">
        <div class="row  ">
            <div class="col-lg-5 mb-4 ">
                <div class="d-none d-lg-block">
                    <img src="../../assets/img/about/img-1-about.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-7  ">
                <div class="section-header px-lg-5">
                    <p class=" text-uppercase colour-5 font-outfit-light-18 px-3 mb-0 mt-lg-4">ABOUT COMPANY</p>
                    <p class="philosopher-40-bold colour-1 px-3 mb-0 text-uppercase">Our Story</p>
                    <hr class="hr-project mt-1">
                    <div class="d-block d-lg-none mt-3 mb-3">
                        <img src="../../assets/img/about/img-1-about.png" alt="" class="img-fluid">
                    </div>
                    <p class="font-outfit-light-24 colour-3 px-lg-3 text-center text-md-start ">
                        We specialize in creating unique branding, innovative marketing strategies, and cutting-edge website development. the agency was founded, We specialize in creating unique branding, innovative marketing strategies, and cutting-edge website development. To deliver exceptional design solutions that drive success. help businesses stand out and succeed in a competitive market.
                    </p>
                    <div class="px-lg-3 d-none d-md-block">
                        <button href="#" class="btn-style py-0 px-2" (click)="trackButtonViewMoreClick()">
                            View More
                            <i class="fa-regular fa-circle mx-1 mt-1 " style="color: #f0f2f4; font-size: 10px;"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="mt-lg-5 mt-4 ">
    <div class="sec-two-banner py-md-5 py-3">
        <div class="container py-lg-4">
            <div class="row ">
                <div class="col-md-4 mb-4">
                    <div class="d-none d-md-block position-relative">
                        <img src="../../assets/img/about/img-3.png" alt="Image 1" class="img-fluid">
                        <div class="position-absolute top-50 start-50 translate-middle text-center ">
                            <p class=" colour-1 philosopher-32-bold "> OUR MISSION</p>
                        </div>
                    </div>
                    <div class="d-block d-md-none py-5 px-4" style="background-color:  rgba(232, 211, 115, 1)">
                        <div class="d-flex justify-content-center flex-column ">
                            <p class=" colour-1 font-outfit-light-16 f-w-400 text-center mb-0">
                                Arcu cursus euismod quis viverra nibh cras pulvinar. Proin nibh nisl condimentum id venenatis a condimentum vitae. Proin nibh nisl condimentum id venenatis a condimentum vitae.Proin nibh
              nisl condimentum id venenatis a condimentum vitae.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="position-relative">
                        <img src="../../assets/img/about/img-2.png" alt="Image 2" class="img-fluid">
                        <div class="position-absolute top-50 start-50 translate-middle text-center ">
                            <p class=" colour-1 philosopher-32-bold "> OUR VISION</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="position-relative">
                        <img src="../../assets/img/about/img-1.png" alt="Image 3" class="img-fluid">
                        <div class="position-absolute top-50 start-50 translate-middle text-center ">
                            <p class=" colour-1 philosopher-32-bold "> OUR VALUES</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="mt-lg-5 mt-4 ">
    <div class="sec-two-banner py-md-5 py-3">
        <div class="container py-lg-4">
            <div class="row">
                <div class="col-md-4 mb-4 ">
                    <div class="d-none d-md-block position-relative hover-box">
                        <img src="../../assets/img/about/img-3.png" alt="Image 1" class="img-fluid hover-image">
                        <div class="position-absolute top-50 start-50 translate-middle  hover-content w-100 p-lg-5 p-md-3 p-5" >
                            <p class="colour-1 philosopher-32-bold hover-hed text-center">OUR MISSION</p>
                            <!-- Hidden extra content -->
                            <p class="extra-content colour-1 font-outfit-16-mission ">

                                At Crrescita, our mission is to help businesses succeed in the digital age through innovative solutions and technology. We focus on elevating brands, expanding digital presence, and unlocking their full potential.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 ">
                    <div class="position-relative hover-box">
                        <img src="../../assets/img/about/img-2.png" alt="Image 2" class="img-fluid hover-image">
                        <div class="position-absolute top-50 start-50 translate-middle  hover-content w-100 p-lg-5 p-md-3 p-5">
                            <p class="colour-1 philosopher-32-bold text-center hover-hed">OUR VISION</p>
                            <!-- Hidden extra content -->
                            <p class="extra-content  colour-1 font-outfit-16-mission">
                                
At Crrescita, our vision is to empower businesses with cutting-edge digital solutions that drive growth and innovation. We aim to be a trusted partner in elevating brand presence and achieving business goals.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 ">
                    <div class="position-relative hover-box">
                        <img src="../../assets/img/about/img-1.png" alt="Image 3" class="img-fluid hover-image">
                        <div class="position-absolute top-50 start-50 translate-middle hover-content w-100 p-lg-5 p-md-3 p-5">
                            <p class="colour-1 philosopher-32-bold hover-hed text-center">OUR VALUES</p>
                            <!-- Hidden extra content -->
                            <p class="extra-content colour-1 font-outfit-16-mission">
                                At the heart of everything we do lies a commitment to excellence, innovation, and client success. Our values guide our approach in delivering top-tier services in web development, branding, and digital marketing.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="mt-lg-5 mt-4  pb-lg-5 mb-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mb-3  ">
                <p class="philosopher-40-bold colour-1 px-3 mb-0 text-uppercase">MEET OUR CEO</p>
                <hr class="hr-project mt-1">
                <div class="mt-md-0 mt-4  d-block d-md-none position-relative">
                    <img src="../../assets/img/about/ceo.png" alt="" class="img-fluid ">
                    <div class="image-labels py-3  w-100">
                        <span class=" px-3 philosopher-40-bold">CEO TANU VATSA</span>
                    </div>
                    
                </div>
                <div class="card-box py-4 px-4 mt-md-5 mt-4 me-lg-5 ">
                    <p class="mb-0 font-outfit-light-18 colour-1">
                        <span class="colour-1" style="font-weight: 500; ">Tanu Vatsa, CEO of "Eqindia" and founder of "Crrescita"</span>, is a distinguished leader with over 16 years of experience in empowering individuals and businesses globally. As a visionary entrepreneur, she excels in driving corporate growth and fostering innovation. Her leadership has been pivotal in guiding multinational corporations and startups towards exponential success. Tanu’s expertise extends to strategic development, business consultancy, and global project management, showcasing her ability to navigate complex business landscapes. With a proven track record of transforming organizations and a passion for elevating business potential, Tanu Vatsa continues to shape the future of corporate excellence.
                    </p>
                </div>
                <div class=" px-lg-5 mt-md-4 mt-4 d-flex flex-wrap justify-content-between">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <img src="../../assets/img/about/icon-ceo-2.png" alt="" class="img-fluid ceo-icon mx-1">
                        <p class="colour-5 text-uppercase ceo-font-24 text-center mt-3">Leadership</p>
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <img src="../../assets/img/about/icon-ceo-3.png" alt="" class="img-fluid ceo-icon mx-1">
                        <p class="colour-5 text-uppercase ceo-font-24 text-center mt-3">Responsibility</p>
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <img src="../../assets/img/about/icon-ceo.png" alt="" class="img-fluid ceo-icon mx-">
                        <p class="colour-5 text-uppercase ceo-font-24 text-center mt-3">Expertise</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 ">
                <div class="mt-md-0 mt-4  d-none d-md-block position-relative">
                    <img src="../../assets/img/about/ceo.png" alt="" class="img-fluid w-100 ms-2">
                    <div class="image-label py-3 ms-2 w-100">
                        <span class=" px-3 philosopher-40-bold">CEO TANU VATSA</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="strategy-banner mt-lg-5 mt-md-5 mt-4 ">
    <div class="container py-lg-5 py-4">
        <p class="text-center mb-lg-5 mb-4 philosopher-40-bold colour-1">
            We Believe in Building Strong Brands and Integrated Strategies
        </p>
        <div class="box-main py-md-5 py-3 px-md-5 px-3">
            <div class="d-none d-md-block">
                <div class="row mt-2 ">
                    <div class="col-md-4  d-flex align-items-stretch ">
                        <div class="hover-bg p-3">
                        <div class="box border-rb  pb-md-5 pb-3 ">
                            <div class="circle-img ">
                                <img src="../../assets/img/about/s-icon-2.png" alt="Icon 1" class="img-fluid">
                            </div>
                            <p class="font-outfit-bold-24 colour-1 mt-1 px-md-3 text-uppercase">Investigate</p>
                            <p class="font-outfit-regular-20 colour-3 px-md-3">
                                The primary concerns that companies working with a plan that isn't full proof & with a remote development team generally face is that of investigating.
                            </p>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-4  d-flex align-items-stretch">
                        <div class="hover-bg p-3">
                        <div class="box border-rb pb-md-5 pb-3 ">
                            <div class="circle-img">
                                <img src="../../assets/img/about/s-icon1.png" alt="Icon 2">
                            </div>
                            <p class="font-outfit-bold-24 colour-1 mt-1 px-md-3 text-uppercase">Understand</p>
                            <p class="font-outfit-regular-20 colour-3 px-md-3">
                                Post investigating a problem statement, we stand out by understanding the problem statement on a business standpoint of our customers.
                            </p>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-4  d-flex align-items-stretch">
                        <div class="hover-bg p-3">
                        <div class="box border-b pb-md-5 pb-3 ">
                            <div class="circle-img">
                                <img src="../../assets/img/about/s-icon-3.png" alt="Icon 3">
                            </div>
                            <p class="font-outfit-bold-24 colour-1 mt-1 px-md-3 text-uppercase">Brainstorm</p>
                            <p class="font-outfit-regular-20 colour-3 px-md-3">
                                Our brilliance lies in brainstorming solutions before we start creating a strategy to implement and measure the same</p>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-4 d-flex align-items-stretch">
                        <div class="hover-bg p-3">
                        <div class="box border-r pb-md-5 pb-3 ">
                            <div class="circle-img">
                                <img src="../../assets/img/about/s-icon-4.png" alt="Icon 3">
                            </div>
                            <p class="font-outfit-bold-24 colour-1 mt-1 px-md-3 text-uppercase">Create</p>
                            <p class="font-outfit-regular-20 colour-3 px-md-3 mb-0">
                                As soon as we have brainstormed the correct technological solutions, we strive to get it aligned to the business stand point of the customer and create
                            </p>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-4  d-flex align-items-stretch">
                        <div class="hover-bg p-3">
                        <div class="box border-r pb-md-5 pb-3 ">
                            <div class="circle-img">
                                <img src="../../assets/img/about/s-icon-5.png" alt="Icon 3">
                            </div>
                            <p class="font-outfit-bold-24 colour-1 mt-1 px-md-3 text-uppercase">Integrate & Implement</p>
                            <p class="font-outfit-regular-20 colour-3 px-md-3 mb-0">
                                We now get into the most important phase of integrating and implementing the solution created around the identified problem statement.
                            </p>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-4  d-flex align-items-stretch">
                        <div class="hover-bg p-3">
                        <div class="box pb-md-5 pb-3 ">
                            <div class="circle-img">
                                <img src="../../assets/img/about/s-icon-6.png" alt="Icon 3">
                            </div>
                            <p class="font-outfit-bold-24 colour-1 mt-1 px-md-3 text-uppercase">Measure</p>
                            <p class="font-outfit-regular-20 colour-3 px-md-3 mb-0">
                                For us just implementation doesn't matter, we believing in measuring the work done much more than the traditional approach of understanding
                            </p>
                        </div>
                        </div>
                    </div>
                    <!-- Add more boxes as needed -->
                </div>
            </div>
            <div class="d-block d-md-none">
                <div class="row mt-2 ">
                    <div class=" col-6 d-flex align-items-stretch border-rb px-2">
                        <div class="box     pb-md-5 pb-3">
                            <div class="circle-img">
                                <img src="../../assets/img/about/s-icon-2.png" alt="Icon 1" class="img-fluid">
                            </div>
                            <p class="font-outfit-bold-24 colour-1 mt-1 px-md-3">Investigate</p>
                            <p class="font-outfit-regular-20 colour-3 px-md-3">
                                The primary concerns that companies working with a plan that isn't full proof & with a remote development team generally face is that of investigating.
                            </p>
                        </div>
                    </div>
                    <div class=" col-6  d-flex align-items-stretch border-b-right px-2">
                        <div class="box   pb-3 ">
                            <div class="circle-img">
                                <img src="../../assets/img/about/s-icon1.png" alt="Icon 2">
                            </div>
                            <p class="font-outfit-bold-24 colour-1 mt-1 px-md-3">Understand</p>
                            <p class="font-outfit-regular-20 colour-3 px-md-3">
                                Post investigating a problem statement, we stand out by understanding the problem statement on a business standpoint of our customers.
                            </p>
                        </div>
                    </div>
                    <div class=" mt-3 col-6 d-flex align-items-stretch border-rb px-2">
                        <div class="box  pb-md-5 pb-3">
                            <div class="circle-img">
                                <img src="../../assets/img/about/s-icon-3.png" alt="Icon 3">
                            </div>
                            <p class="font-outfit-bold-24 colour-1 mt-1 px-md-3">Brainstorm</p>
                            <p class="font-outfit-regular-20 colour-3 px-md-3">
                                Our brilliance lies in brainstorming solutions before we start creating a strategy to implement and measure the same.
                            </p>
                        </div>
                    </div>
                    <div class=" col-6 mt-3 d-flex align-items-stretch border-b-right px-2">
                        <div class="box  pb-md-5 pb-3">
                            <div class="circle-img">
                                <img src="../../assets/img/about/s-icon-4.png" alt="Icon 3">
                            </div>
                            <p class="font-outfit-bold-24 colour-1 mt-1 px-md-3">Brainstorm</p>
                            <p class="font-outfit-regular-20 colour-3 px-md-3 mb-0">
                                Our brilliance lies in brainstorming solutions before we start creating a strategy to implement and measure the same.
                            </p>
                        </div>
                    </div>
                    <div class="  col-6 mt-3 d-flex align-items-stretch border-r px-2">
                        <div class="box  pb-md-5 pb-3">
                            <div class="circle-img">
                                <img src="../../assets/img/about/s-icon-5.png" alt="Icon 3">
                            </div>
                            <p class="font-outfit-bold-24 colour-1 mt-1 px-md-3">Brainstorm</p>
                            <p class="font-outfit-regular-20 colour-3 px-md-3 mb-0">
                                Our brilliance lies in brainstorming solutions before we start creating a strategy to implement and measure the same.
                            </p>
                        </div>
                    </div>
                    <div class=" col-6 mt-3 d-flex align-items-stretch px-2">
                        <div class="box pb-md-5 pb-3">
                            <div class="circle-img">
                                <img src="../../assets/img/about/s-icon-6.png" alt="Icon 3">
                            </div>
                            <p class="font-outfit-bold-24 colour-1 mt-1 px-md-3">Brainstorm</p>
                            <p class="font-outfit-regular-20 colour-3 px-md-3 mb-0">
                                Our brilliance lies in brainstorming solutions before we start creating a strategy to implement and measure the same.
                            </p>
                        </div>
                    </div>
                    <!-- Add more boxes as needed -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-lg-5 mt-4  ">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mb-4 mt-lg-5 mb-md-0">
                <img src="../../assets/img/about/work.png" alt="" class="img-fluid h-100">
            </div>
            <div class="col-md-4 d-flex flex-column justify-content-evenly  ">
                <div class="box-about-border ms-lg-5 mb-3">
                    <div class="  px-lg-2   text-center text-md-start ">
                        <p class="philosopher-40-bold colour-1 mb-0">OUR WORK</p>
                        <p class="font-outfit-24 f-w-400 mb-2">Explore our case studies</p>
                       
                        <a class="btn-seemore icon-container" data-bs-toggle="modal" data-bs-target="#contactModal" (click)="trackButtonKnowMoreClick()">Know More
                            <i class="fa-regular fa-circle mx-1 mt-1" style=" font-size: 10px;"></i>
                        </a>
                    </div>
                </div>
                <div class="box-about-border ms-lg-5 mb-3">
                    <div class=" px-lg-2    text-center text-md-start">
                        <p class="philosopher-40-bold colour-1 mb-0 text-uppercase">OUR Process</p>
                        <p class="font-outfit-24 f-w-400 mb-2">Explore our process</p>
                        <a class="btn-seemore icon-container" data-bs-toggle="modal" data-bs-target="#contactModal" (click)="trackButtonKnowMoreClick()">Know More
                            <i class="fa-regular fa-circle mx-1 mt-1" style=" font-size: 10px;"></i>
                        </a>
                    </div>
                </div>
                <div class="box-about-border ms-lg-5 mb-3">
                    <div class=" px-lg-2    text-center text-md-start">
                        <p class="philosopher-40-bold colour-1 mb-0 text-uppercase">Careers</p>
                        <p class="font-outfit-24 f-w-400 mb-2">Join  our team</p>
                        <a class="btn-seemore icon-container" data-bs-toggle="modal" data-bs-target="#contactModal" (click)="trackButtonKnowMoreClick()">Know More
                            <i class="fa-regular fa-circle mx-1 mt-1" style=" font-size: 10px;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt-lg-5 mt-4 pt-lg-5 ">
    <div class="container  ">
        <p class="text-center philosopher-40-bold colour-1 mb-lg-5 mb-4">Testimonials</p>
        <div class="box-about-border">
            <div class="row web-scrollmenu  px-md-3">
                <div class="col-lg-4 d-flex flex-column mb-md-3">
                    <div class="d-flex ">
                        <p class="font-outfit-light-18 colour-4 fw-normal    mt-3">
                            Our online sales have increased by 50% since we started working with Crrescita on digital promotions. Their expertise in SEO, social media, and PPC advertising is unmatched.
                        </p>
                        <img src="../../assets/img/home/comma1.png" alt="Image 1" class="comma-icon">
                    </div>
                    <div class="d-flex mt-4">
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                    </div>
                    <p class="font-outfit-light-16 colour-1 mt-3">RUFUS - Entrepreneur</p>
                </div>
                <div class="col-lg-4 d-flex flex-column  mb-md-3">
                    <div class="d-flex">
                        <p class="font-outfit-light-18 colour-4 fw-normal mt-3">
                            Crrescita’s web development team delivered a sleek, user-friendly website that perfectly aligns with our business goals. Their attention to detail and timely delivery were impressive.
                        </p>
                        <img src="../../assets/img/home/comma1.png" alt="Image 1" class="comma-icon">
                    </div>
                    <div class="d-flex mt-4">
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                    </div>
                    <p class="font-outfit-light-16 colour-1 mt-3">SANDRA - Project Manager</p>
                </div>
                <div class="col-lg-4 d-flex flex-column  mb-md-3">
                    <div class="d-flex">
                        <p class="font-outfit-light-18 colour-4 fw-normal mt-3">
                            Thanks to Crrescita’s digital branding expertise, our social media presence has grown significantly. Their tailored strategies and content creation have driven excellent engagement.
                        </p>
                        <img src="../../assets/img/home/comma1.png" alt="Image 1" class="comma-icon">
                    </div>
                    <div class="d-flex mt-4">
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                    </div>
                    <p class="font-outfit-light-16 colour-1 mt-3">ANABEL - Manager</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class=" mt-lg-5 mt-5 pt-lg-4 mb-lg-5 pb-5 mb-2">
    <div class="container px-lg-0 px-4">
        <div class="row " style="background: linear-gradient(180deg, #0559CC 0%, #01193A 100%);">
            <div class="mt-lg-5 pt-lg-5 pt-3 d-flex justify-content-between align-items-center px-lg-5">
                <div class="col-md-6 col-7 ">
                    <p class="card-section-font colour-2  mt-lg-5 mb-md-3 mb-2">CRAFTING UNIQUE SOLUTIONS FOR YOUR BUSINESS</p>
                </div>
                <div class="col-md-6 col-5  d-flex justify-content-end ">
                    <a class="btn-seemore mt-lg-5 mt-3 text-white fw-normal" data-bs-toggle="modal" data-bs-target="#contactModal" (click)="trackButtonFooterGetStarted()">
                        Get Started
                        <i class="fa-regular fa-circle mx-1 mt-1" style="color:  rgba(255, 255, 255, 1); font-size: 10px;"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Modal -->
<app-modal-form></app-modal-form>