<!-- Desktop view  start section-one -->
<section class=" d-none d-md-block ">
    <div class="banner-desktop-digital">
        <div class="container my-5">
            <div class="row ">
                <div class="col-md-8 col-12 ">
                    <div class="banner-content  ">
                        <p class="font-outfit-20">Design Agency</p>
                        <p class="philosopher-86-bold colour-1 text-uppercase">
                            Digital   <br> Marketing
                           
                          
                        </p>
                        <hr class="home-border">
                        <div class="col-8">
                            <p class="banner-font-24 colour-1">Attract, Impress, and Convert more leads online and get results </p>
                        </div>
                   
                    </div>
                </div>
                <div class="col-md-4 d-none d-lg-block ">
                    <form class="  custom-form  ">
                    
                        <div class="form-style-banner mt-3">
                            <p class="philosopher-40-bold colour-1 text-center ">Let’s Discuss</p>
                            <div class="form-group mb-4 mt-3">
                                <input type="text" class="form-control custom-input" placeholder="Name">
                                <hr class="form-hr m-0 p-0">
                            </div>
                            <div class="form-group mb-4">
                                <input type="tel" class="form-control custom-input" placeholder="Phone Number">
                                <hr class="form-hr m-0 p-0">
                            </div>
                            <div class="form-group mb-4">
                                <input type="email" class="form-control custom-input" placeholder="Email">
                                <hr class="form-hr m-0 p-0">
                            </div>
                            <div class="form-group mb-4">
                                <textarea class="form-control custom-input mb-0 pb-0" placeholder="Message"></textarea>
                                <hr class="form-hr m-0 p-0">
                            </div>
                            <div class="form-group mb-4">
                                <button type="submit" class="btn-style py-0 px-2">Get In Touch
                                    <i class="fa-regular fa-circle mx-1 mt-1 " style="color: #f0f2f4; font-size: 10px;"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Desktop view section-one end-->
<!-- Mobile view  start section-one -->
<section class=" d-block d-md-none ">
    <div class="banner-mob-digital">
        <div class="container my-5">
            <div class="row ">
                <div class="col-md-10 col-12 ">
                    <div class="banner-content   pt-5">
                        <p class="font-outfit-20 mb-1">Design Agencys</p>
                        <p class="philosopher-36-bold colour-1 text-uppercase m-0">
                            Software <br> Development</p>
                        <hr class="home-mob-border m-0 ">
                        <p class="banner-font-24 colour-1 pt-1">
                            Establish a strong digital presence of your business with modern web & app development
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Mobile view section-one end-->

<section class="mt-lg-5 mt-5  mt-md-5 pt-lg-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 d-flex flex-column justify-content-center  ">
                <div class="me-md-4 ">
                    <p class="philosopher-40-bold colour-1 px-md-3 text-uppercase  mb-0">DIGITAL MARKETING</p>
                    <hr class="hr-project mt-1">
                    <div class="d-block d-lg-none">
                        <img src="../../assets/img/digital/image-1.png" alt="" class="img-fluid mb-3 ">
                    </div>
                    <p class="font-outfit-s-20 colour-3 px-md-3 text-center text-md-start">In today's fast-paced digital landscape, having a strong online presence is more crucial than ever. Our digital marketing services are tailored to help your business thrive by increasing visibility, driving targeted traffic, and converting visitors into loyal customers. </p>
                    <p class="font-outfit-s-20 colour-3 px-md-3 text-center text-md-start mb-0">We combine creativity, data-driven strategies, and cutting-edge technology to deliver results that matter. Whether you need to boost your search engine rankings, engage with your audience on social media, or create compelling content, we have the expertise to elevate your brand and achieve your business goals.</p>

                </div>
            </div>
            <div class="col-lg-5 ">
                <div class="d-none d-lg-block">
                    <img src="../../assets/img/digital/image-1.png" alt="" class="img-fluid  ">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-lg-5 mb-5 mt-md-5 pb-lg-5 mt-5 pt-lg-5">
    <div style="background-color:rgba(232, 211, 115, 1);">
        <div class="container">
            <div class="row text-center align-items-stretch">
                <p class="philosopher-40-bold colour-1 py-2 mt-md-4 mt-2 text-center mb-0">We can take your online presence to the next level</p>
                <div class="col-md-4 col-4 px-lg-5 offset-bottoms d-flex justify-content-center align-items-center">
                    <div class="py-3 d-flex border-box-r flex-column contact-box h-100 ">
                        <div class="img-container">
                            <img src="../../assets/img/digital/icon1.png" alt="" class="img-fluid contact-img">
                        </div>
                        <p class="card-font-d colour-1 mt-2">
                            OPTIMIZE
                        </p>
                        <p class="mb-0 font-outfit-regular-20 colour-3">
                            Marketing Processes
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-4 px-lg-5 offset-bottoms d-flex justify-content-center align-items-center">
                    <div class="py-3 d-flex border-box-r flex-column contact-box h-100">
                        <div class="img-container">
                            <img src="../../assets/img/digital/icon2.png" alt="" class="img-fluid contact-img">
                        </div>
                        <p class="card-font-d colour-1 mt-2">
                            GENERATE
                        </p>
                        <p class="mb-0 font-outfit-regular-20 colour-3">
                            Targeted Results
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-4 px-lg-5 offset-bottoms d-flex justify-content-center align-items-center">
                    <div class="py-3 d-flex border-box-r flex-column contact-box h-100">
                        <div class="img-container">
                            <img src="../../assets/img/digital/icon3.png" alt="" class="img-fluid contact-img">
                        </div>
                        <p class="card-font-d colour-1 mt-2">
                            GROW
                        </p>
                        <p class="mb-0 font-outfit-regular-20 colour-3">
                            Your Brand Online
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class=" pt-lg-5 mt-3 mt-lg-0 top-space">
    <div class="container my-section">
        <p class="philosopher-40-bold colour-1 text-uppercase px-md-3  mb-0">A Fine-Tuned Range of Our SErvices</p>
        <hr class="hr-project mt-1 ">
        <div class="d-none d-md-block">
            <div class="row mt-5  ">
                <!-- First col-md-4 -->
                <div class="col-md-4">
                    <div class="row  d-flex  flex-column">
                        <div class="col-10  mb-5">
                            <div class="icon-border">
                                <img src="../../assets/img/digital/s-icon7.png" alt="" class="img-icon ">
                                <p class="font-outfit-regular-24 colour-1 text-uppercase colour-1 fw-bold mt-2">
                                    social media 
                                    marketing
                                </p>
                                <p class="font-outfit-light-18 ">Bring your brand closer to your target audience and gain better customer engagement with social media marketing.</p>
                            </div>
                        </div>
                        <div class="col-10  mb-5">
                            <div class="icon-border">
                                <img src="../../assets/img/digital/s-icon8.png" alt="" class=" img-icon">
                                <p class="font-outfit-regular-24 colour-1 text-uppercase colour-1 fw-bold mt-3">
                                    lead generation company
                                </p>
                                <p class="font-outfit-light-18 ">Bring your brand closer to your target audience and gain better customer engagement with social media marketing.</p>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="icon-border">
                                <img src="../../assets/img/digital/s-icon1.png" alt="" class=" img-icon">
                                <p class="font-outfit-regular-24 colour-1 text-uppercase colour-1 fw-bold mt-3">
                                    google & youtube
                                    marketing
                                </p>
                                <p class="font-outfit-light-18 ">Bring your brand closer to your target audience and gain better customer engagement with social media marketing.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Second col-md-4 -->
                <div class="col-md-4 second-column ">
                    <div class="row  d-flex  flex-column mt-5 pt-5">
                        <div class="col-12  mb-5">
                            <div class="icon-border">
                                <img src="../../assets/img/digital/s-icon2.png" alt="" class=" img-icon">
                                <p class="font-outfit-regular-24 colour-1 text-uppercase colour-1 fw-bold mt-3">
                                    performance marketing
                                </p>
                                <p class="font-outfit-light-18 ">Focuses on measurable results, driving targeted actions such as clicks, leads, and sales. By leveraging data and analytics, we optimize campaigns to maximize ROI.</p>
                            </div>
                        </div>
                        <div class="col-12 mb-5">
                            <div class="icon-border">
                                <img src="../../assets/img/website/domain.png" alt="" class=" img-icon">
                                <p class="font-outfit-regular-24 colour-1 text-uppercase colour-1 fw-bold mt-3">
                                    email marketing
                                </p>
                                <p class="font-outfit-light-18 ">Focuses on measurable results, driving targeted actions such as clicks, leads, and sales. By leveraging data and analytics, we optimize campaigns to maximize ROI.</p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="icon-border">
                                <img src="../../assets/img/digital/s-icon6.png" alt="" class=" img-icon">
                                <p class="font-outfit-regular-24 colour-1 text-uppercase colour-1 fw-bold mt-3">
                                    bing ads
                                </p>
                                <p class="font-outfit-light-18 ">Focuses on measurable results, driving targeted actions such as clicks, leads, and sales. By leveraging data and analytics, we optimize campaigns to maximize ROI.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Third col-md-4 -->
                <div class="col-md-4 third-column tops">
                    <div class="row  d-flex  flex-column  ">
                        <div class="col-12 mb-5">
                            <div class="icon-border">
                                <img src="../../assets/img/digital/s-icon3.png" alt="" class="img-icon ">
                                <p class="font-outfit-regular-24 colour-1 text-uppercase colour-1 fw-bold mt-3">
                                    search engine 
                                    optimization
                                </p>
                                <p class="font-outfit-light-18 ">Focuses on measurable results, driving targeted actions such as clicks, leads, and sales. By leveraging data and analytics, we optimize campaigns to maximize ROI.</p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="icon-border">
                                <img src="../../assets/img/digital/s-icon5.png" alt="" class=" img-icon">
                                <p class="font-outfit-regular-24 colour-1 text-uppercase colour-1 fw-bold mt-3">
                                    linkedin promotions
                                </p>
                                <p class="font-outfit-light-18 ">
                                    Focuses on measurable results, driving targeted actions such as clicks, leads, and sales. By leveraging data and analytics, we optimize campaigns to maximize ROI.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-block d-md-none">
            <div class="row mt-3 align-items-stretch">
                <div class="col-6 mb-3 p-1 d-flex">
                    <div class="icon-border d-flex flex-column align-items-left flex-grow-1 p-2">
                        <img src="../../assets/img/digital/s-icon7.png" alt="" class="img-icon">
                        <p class="font-outfit-light-14 colour-1 text-uppercase mb-0">
                            social media 
                            marketing
                        </p>
                        <p class="font-outfit-12 colour-3 justify-content-center">
                            Bring your brand closer to your target audience and gain better customer engagement with social media marketing.
                        </p>
                    </div>
                </div>
                <div class="col-6 mb-3 p-1 d-flex">
                    <div class="icon-border d-flex flex-column align-items-left flex-grow-1 p-2">
                        <img src="../../assets/img/digital/s-icon2.png" alt="" class="img-icon">
                        <p class="font-outfit-light-14 colour-1 text-uppercase mb-0">
                            performance marketing
                        </p>
                        <p class="font-outfit-12 colour-3">
                            Focuses on measurable results, driving targeted actions such as clicks, leads, and sales. By leveraging data and analytics, we optimize campaigns to maximize ROI.
                        </p>
                    </div>
                </div>
                <div class="col-6 mb-3 p-1 d-flex">
                    <div class="icon-border d-flex flex-column align-items-left flex-grow-1 p-2">
                        <img src="../../assets/img/digital/s-icon3.png" alt="" class="img-icon">
                        <p class="font-outfit-light-14 colour-1 text-uppercase mb-0">
                            search engine 
                            optimization
                        </p>
                        <p class="font-outfit-12 colour-3">
                            Focuses on measurable results, driving targeted actions such as clicks, leads, and sales. By leveraging data and analytics, we optimize campaigns to maximize ROI.
                        </p>
                    </div>
                </div>
                <div class="col-6 mb-3 p-1 d-flex">
                    <div class="icon-border d-flex flex-column align-items-left flex-grow-1 p-2">
                        <img src="../../assets/img/digital/s-icon8.png" alt="" class="img-icon">
                        <p class="font-outfit-light-14 colour-1 text-uppercase mb-0">
                            lead generation company

                        </p>
                        <p class="font-outfit-12 colour-3">
                            Bring your brand closer to your target audience and gain better customer engagement with social media marketing.
                        </p>
                    </div>
                </div>
                <div class="col-6 mb-3 p-1 d-flex">
                    <div class="icon-border d-flex flex-column align-items-left flex-grow-1 p-2">
                        <img src="../../assets/img/digital/s-icon4.png" alt="" class="img-icon">
                        <p class="font-outfit-light-14 colour-1 text-uppercase mb-0">
                            email marketing
                        </p>
                        <p class="font-outfit-12 colour-3">
                            We leverage the power of popular frameworks like React Native and Flutter to create apps that run seamlessly on multiple platforms, including iOS and Android.
                        </p>
                    </div>
                </div>
                <div class="col-6 mb-3 p-1 d-flex">
                    <div class="icon-border d-flex flex-column align-items-left flex-grow-1 p-2">
                        <img src="../../assets/img/digital/s-icon5.png" alt="" class="img-icon">
                        <p class="font-outfit-light-14 colour-1 text-uppercase mb-0">
                            linkedin promotions
                        </p>
                        <p class="font-outfit-12 colour-3">
                            Focuses on measurable results, driving targeted actions such as clicks, leads, and sales. By leveraging data and analytics, we optimize campaigns to maximize ROI.
                        </p>
                    </div>
                </div>
                <div class="col-6 mb-3 p-1 d-flex">
                    <div class="icon-border d-flex flex-column align-items-left flex-grow-1 p-2">
                        <img src="../../assets/img/digital/s-icon1.png" alt="" class="img-icon">
                        <p class="font-outfit-light-14 colour-1 text-uppercase mb-0">
                            google & youtube
                            marketing
                        </p>
                        <p class="font-outfit-12 colour-3">
                            Bring your brand closer to your target audience and gain better customer engagement with social media marketing.
                        </p>
                    </div>
                </div>
                <div class="col-6 mb-3 p-1 d-flex">
                    <div class="icon-border d-flex flex-column align-items-left flex-grow-1 p-2">
                        <img src="../../assets/img/digital/s-icon6.png" alt="" class="img-icon">
                        <p class="font-outfit-light-14 colour-1 text-uppercase mb-0">
                            bing ads
                        </p>
                        <p class="font-outfit-12 colour-3">
                            We leverage the power of popular frameworks like React Native and Flutter to create apps that run seamlessly on multiple platforms, including iOS and Android.
                        </p>
                    </div>
                </div>
             </div>   
             </div>
             </div>
</section>

<section class="mt-lg-5 mt-4 mt-md-5  pt-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
        <p class="philosopher-40-bold text-uppercase colour-1 px-md-3 px-1 mb-0">team of digital marketing experts</p>
        <hr class="hr-project mt-1 ">
    </div>
    </div>
        <div class="row mt-lg-5 mt-3 web-scrollmenu">
            <div class="col-md-4">
                <div class="py-md-3 py-3 d-flex  flex-column   dev-box h-100 px-md-3 px-2">
                    <p class="font-outfit-bold-24 text-uppercase colour-1">
                        Proven Results
                    </p>
                    <p class="mb-0 font-outfit-regular-20 colour-3">
                        Why would you work with an SEO services firm that doesn’t provide you with the results you are looking for? Stop throwing away your hard-earned money on a strategy that isn’t converting.                    </p>
                </div>
            </div>
            <div class="col-md-4  ">
                <div class="py-md-3 py-3 d-flex border-box-r px-md-3 px-2 flex-column  dev-box h-100">
                    <p class="font-outfit-bold-24 text-uppercase colour-1">
                        Honest & Ethical
                    </p>
                    <p class="mb-0 font-outfit-regular-20 colour-3">
                        We believe in honesty, integrity, and respecting our clients. We don’t believe in “selling” a service that you don’t need or applying a one-size-fits-all approach to each client. We dedicate our time to achieving higher rankings, increased traffic and conversions, and a higher ROI for our clients.
                    </p>
                </div>
            </div>
            <div class="col-md-4  ">
                <div class="py-md-3 py-3 d-flex border-box-r px-md-3 px-2 flex-column  dev-box h-100">
                    <p class="font-outfit-bold-24 text-uppercase colour-1">
                        Customers First
                    </p>
                    <p class="mb-0 font-outfit-regular-20 colour-3">
                        Maintaining a customer-centric focus is a priority for many marketing agencies, however, few actually follow through.We are truly diligent and committed to our clients by showing up on time; keeping our promises; being polite, honest, and respectful; and going above and beyond for our clients.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-5 d-block d-md-none  ">
    <div class="custom-form ">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form class="  ">
                    <p class="philosopher-40-bold colour-1 text-center text-uppercase">LETS GET IN TOuCH</p>
                    <div class="form-style-banner mt-3">
                        
                        <div class="form-group mb-4 mt-3">
                            <input type="text" class="form-control custom-input" placeholder="Name">
                            <hr class="form-hr m-0 p-0">
                        </div>
                        <div class="form-group mb-4">
                            <input type="tel" class="form-control custom-input" placeholder="Phone Number">
                            <hr class="form-hr m-0 p-0">
                        </div>
                        <div class="form-group mb-4">
                            <input type="email" class="form-control custom-input" placeholder="Email">
                            <hr class="form-hr m-0 p-0">
                        </div>
                        <div class="form-group mb-4">
                            <textarea class="form-control custom-input mb-0 pb-0" placeholder="Message"></textarea>
                            <hr class="form-hr m-0 p-0">
 

                        </div>
                        <div class="form-group mb-4 mt-5">
                            <button type="submit" class="btn-style py-0 px-2">Get In Touch
                                <i class="fa-regular fa-circle mx-1 mt-1 " style="color: #f0f2f4; font-size: 10px;"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</section>

<section class="mt-lg-5 mt-5 pt-lg-5 ">
    <div class="container  ">
        <p class="text-center philosopher-40-bold colour-1 mb-lg-5 mb-4">Testimonials</p>
        <div class="box-about-border">
            <div class="row web-scrollmenu  px-md-3">
                <div class="col-lg-4 d-flex flex-column mb-md-3">
                    <div class="d-flex ">
                        <p class="font-outfit-light-18 colour-4 fw-normal    mt-3">
                            Tempus iaculis urna id volutpat lacus laoreet non. Sit amet consectetur adipiscing elit ut aliquam purus sit sed vulputate enim.
                        </p>
                        <img src="../../assets/img/home/comma1.png" alt="Image 1" class="comma-icon">
                    </div>
                    <div class="d-flex mt-4">
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                    </div>
                    <p class="font-outfit-light-16 colour-1 mt-3">RUFUS - Entrepreneur</p>
                </div>
                <div class="col-lg-4 d-flex flex-column  mb-md-3">
                    <div class="d-flex">
                        <p class="font-outfit-light-18 colour-4 fw-normal mt-3">
                            Augue ut lectus arcu bibendum at varius
                            vel pharetra. Venenatis lectus magna
                            fringilla urna porttitor. Iaculis urna id
                            volutpat lacus.
                        </p>
                        <img src="../../assets/img/home/comma1.png" alt="Image 1" class="comma-icon">
                    </div>
                    <div class="d-flex mt-4">
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                    </div>
                    <p class="font-outfit-light-16 colour-1 mt-3">SANDRA - Project Manager</p>
                </div>
                <div class="col-lg-4 d-flex flex-column  mb-md-3">
                    <div class="d-flex">
                        <p class="font-outfit-light-18 colour-4 fw-normal mt-3">
                            Euismod lacinia at quis risus. Fames ac
                            turpis egestas sed tempus urna et
                            pharetra. Sollicitudin ac orci phasellus
                            egestas tellus
                        </p>
                        <img src="../../assets/img/home/comma1.png" alt="Image 1" class="comma-icon">
                    </div>
                    <div class="d-flex mt-4">
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                    </div>
                    <p class="font-outfit-light-16 colour-1 mt-3">ANABEL - Manager</p>
                </div>
            </div>
        </div>
    </div>
</section>



<section class=" mt-lg-5 mt-5 pt-lg-4 mb-lg-5 pb-5 mb-2">
    <div class="container px-lg-0 px-4">
        <div class="row " style="background: linear-gradient(180deg, #0559CC 0%, #01193A 100%);">
            <div class="mt-lg-5 pt-lg-5 pt-3 d-flex justify-content-between align-items-center px-lg-5">
                <div class="col-md-6 col-7 ">
                    <p class="card-section-font colour-2  mt-lg-5 mb-md-3 mb-2">CRAFTING UNIQUE SOLUTIONS FOR YOUR BUSINESS</p>
                </div>
                <div class="col-md-6 col-5  d-flex justify-content-end ">
                    <a class="btn-seemore mt-lg-5 mt-3 text-white fw-normal">
                        Get Started
                        <i class="fa-regular fa-circle mx-1 mt-1" style="color:  rgba(255, 255, 255, 1); font-size: 10px;"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>