<!-- Desktop view  start section-one -->
<section class=" d-none d-md-block ">
    <div class="banner-desktop-digital">
        <div class="container my-5">
            <div class="row ">
                <div class="col-md-8 col-12 ">
                    <div class="banner-content  ">
                        <p class="font-outfit-20">Design Agency</p>
                        <p class="philosopher-86-bold colour-1 text-uppercase">
                            BRANDING
                           
                          
                        </p>
                        <hr class="home-border">
                        <div class="col-8">
                            <p class="banner-font-24 colour-1">We don’t just design; we create stories. Our design experts are dedicated to crafting visuals that capture attention and resonate with your target audience.</p>
                        </div>
                   
                    </div>
                </div>
                <div class="col-md-4 d-none d-lg-block ">
                    <form class="  custom-form  ">
                    
                        <div class="form-style-banner mt-3">
                            <p class="philosopher-40-bold colour-1 text-center ">Let’s Discuss</p>
                            <div class="form-group mb-4 mt-3">
                                <input type="text" class="form-control custom-input" placeholder="Name">
                                <hr class="form-hr m-0 p-0">
                            </div>
                            <div class="form-group mb-4">
                                <input type="tel" class="form-control custom-input" placeholder="Phone Number">
                                <hr class="form-hr m-0 p-0">
                            </div>
                            <div class="form-group mb-4">
                                <input type="email" class="form-control custom-input" placeholder="Email">
                                <hr class="form-hr m-0 p-0">
                            </div>
                            <div class="form-group mb-4">
                                <textarea class="form-control custom-input mb-0 pb-0" placeholder="Message"></textarea>
                                <hr class="form-hr m-0 p-0">
                            </div>
                            <div class="form-group mb-4 mt-5">
                                <button type="submit" class="btn-style py-0 px-2">Get In Touch
                                    <i class="fa-regular fa-circle mx-1 mt-1 " style="color: #f0f2f4; font-size: 10px;"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Desktop view section-one end-->
<!-- Mobile view  start section-one -->
<section class=" d-block d-md-none ">
    <div class="banner-mob-digital">
        <div class="container my-5">
            <div class="row ">
                <div class="col-md-10 col-12 ">
                    <div class="banner-content   pt-5">
                        <p class="font-outfit-20 mb-1">Design Agencys</p>
                        <p class="philosopher-36-bold colour-1 text-uppercase m-0">
                            BRANDING</p>
                        <hr class="home-mob-border m-0 ">
                        <p class="banner-font-24 colour-1 pt-1">
                            We don’t just design; we create stories.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Mobile view section-one end-->

<section class="mt-lg-5 mt-4 pt-lg-3">
    <div class="container">
      <div class="row d-flex align-items-stretch">
        <div class="col-lg-4 mb-4 p-lg-4">
          <div class="box-border h-100 py-4">
            <div class="circle-img">
              <img src="../../assets/img/branding/icon1.png" class="img-fluid" alt="Image 1">
            </div>
            <div class="content">
              <p class="font-outfit-bold-24 colour-1 mt-2">Branding</p>
              <p class="font-outfit-light-18 colour-3 mt-2 mb-3">Cras pulvinar mattis nunc sed blandit
                Assist you in structuring your brand message by articulating your vision and mission, designing your brand identity, developing guidelines</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4 p-lg-4">
          <div class="box-border h-100 py-4">
            <div class="circle-img">
              <img src="../../assets/img/branding/icon2.png" class="img-fluid" alt="Image 2">
            </div>
            <div class="content">
              <p class="font-outfit-bold-24 text-uppercase  mt-2 colour-1">Design</p>
              <p class="font-outfit-light-18 colour-3 mt-2 mb-3">We help our clients overcome key challenges using design and Design Thinking.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4 p-lg-4">
            <div class="box-border h-100 py-4">
              <div class="circle-img">
                <img src="../../assets/img/branding/icon1.png" class="img-fluid" alt="Image 1">
              </div>
              <div class="content">
                <p class="font-outfit-bold-24 text-uppercase colour-1 mt-2">Communication</p>
                <p class="font-outfit-light-18 colour-3 mt-2 mb-3">We create compelling brand stories based on a sound communication strategy so that you can connect better with your audience.</p>
              </div>
            </div>
          </div>
       
      </div>
    </div>
  </section>
  
