.banner-desktop-digital {

    background-image: url('../../assets/img/branding/branding-resize-banner.jpg');
background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 868px;
    min-height: 100vh;
    position: relative;
    /* background-color: rgba(232, 211, 115, 1); */
}

.banner-mob-digital {
    background-image: url('../../assets/img/branding/brand-mob.png');
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;


}
.banner-col{
  background-image: url('../../assets/img/branding/banner-back11.png');
    background-size: cover;
    background-position: top;
   
}
.custom-form{
  background: linear-gradient(359.98deg, rgba(255, 255, 255, 0.9) 0.02%, rgba(232, 211, 115, 0.9) 33.54%, rgba(232, 211, 115, 0.9) 52.84%, rgba(232, 211, 115, 0.9) 71.28%, rgba(255, 255, 255, 0.9) 99.98%);
border-radius: 10px;
}
.banner-content {
    color: white;

    padding: 20px;
    border-radius: 5px;
    max-width: 100%;
}


.custom-input {
    border-radius: 0;
    padding: 10px 10px;

    border: none;
}

.custom-input:focus {
    outline: none;
    box-shadow: none;
}

.form-style-banner {

    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 15.5px 4px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
   
}

.form-hr {
    border: 1px solid rgba(232, 211, 115, 1);
    opacity: 1;
}

.box-border {

    background:
      linear-gradient(#e8d373, #e8d373) 20px 0,
      linear-gradient(#e8d373, #e8d373) 0 calc(100% - 20px);
    padding: 40px;
    margin-top: 20px;
    background-size: 2px 100%, 100% 2px;
    background-repeat: no-repeat;
  }
  .box-border-right {
    background:
  
      linear-gradient(#e8d373, #e8d373) 98% 0 / 10px 100% no-repeat,
      linear-gradient(#e8d373, #e8d373) 0 95% / 100% 10px no-repeat;
  
  
  
    background-size: 2px 100%, 100% 2px;
    background-repeat: no-repeat;
  
    padding: 40px;
   
  }
  .circle-img {
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
      background-color: rgba(232, 211, 115, 1);
  }
  
  
  .circle-img img {
    width: 70px;
    height: 70px;
    object-fit: cover;
  }
  .branding-bottoms {
    position: relative;
    bottom: -50px;
}

.contact-box {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
 
}
.d-size{
  width: 150px;
  height: 150px;
}
.custom-img {
  position: absolute;
  top: 80%; /* Adjust this value to control how much of the image is outside the background */
  left: 50%;
  transform: translateX(-50%);
}
.banner-two {

  background-image: url('../../assets/img/home/banner-back.png');
  background-size: cover;
  background-position: top;
}

.custom-box {
  display: flex;
  align-items: center;
  justify-content: center;
  


}

.custom-box-content {
  text-align: left;
}

.custom-box img {
  width: 100%;
  height: auto;
}
.box-brand{
  border: 1px solid rgba(1, 25, 58, 1)
}

.section-back{
 background: linear-gradient(180deg, #01193A 0%, #0559CC 100%);

}
.img-resize{
  width: 30px;
  height: 30px;
}


  @media(max-width:767px){
    .img-resize{
      width: 21px;
      height: 21px;
    }
    .circle-img {
        width: 50px; /* Adjust the size as needed */
        height: 50px; /* Adjust the size as needed */
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
      
        background-color: rgba(232, 211, 115, 1);
      }
      .img-sec1 {
        width: 50%;
        height: 50%;
      }
      .contact-box {
 
        padding: 10px !important; 
    }
      .circle-img img {
        width: 40px;
        height: 40px;
      }
      .d-size{
        width: 80px;
        height: 80px;
      }
      .branding-bottoms {
        position: relative;
        bottom: -40px !important;
    }
    .custom-box {

      padding: 0px !important;

    }
  }

  
  .top-section {
    /* position: relative; */
    width: 100%;
    height: 50%;
   
  }
  
  .half-background {
    position: relative;
    width: 100%;
    top: 50%; 
    
  }

 

  .time-line-box {
    /* height: 100px; 
    padding: 100px 0;
    width: 100%;
    background-color: #dadefe; */
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
  }
  
  .time-line-box .timeline {
    list-style-type: none;
    display: flex;
    padding: 0;
    text-align: center;
  }
  
  .time-line-box .timestamp {
    margin: auto;
   
    padding: 0px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .time-line-box .status {
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    
    border-top: 3px solid rgba(232, 211, 115, 1);
    position: relative;
    transition: all 200ms ease-in;
  }
  .time-line-box .status span {
    padding-top: 8px;
  }
  .time-line-box .status span:before {
    content: '';
    width: 40px;
    height: 40px;
    background-color: rgba(232, 211, 115, 1);
    border-radius: 50px;
    border: 2px solid rgba(232, 211, 115, 1);
    position: absolute;
    left: 50%;
    top: 0%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all 200ms ease-in;
  }
  
  .swiper-container {
    width: 90%;
    margin: auto;
    overflow-y: auto;
  }
  .swiper-wrapper{
    display: inline-flex;
    flex-direction: row;
    overflow-y:auto;
    justify-content: start;
    width: 100%;
  }
  .swiper-container::-webkit-scrollbar-track{
     background:#a8a8a8b6;
  }
  .swiper-container::-webkit-scrollbar{
    height: 2px;
  }
  .swiper-container::-webkit-scrollbar-thumb{
     background: #4F4F4F !important;
  }
  .swiper-slide {
    text-align: center;
    font-size: 12px;
   width: 100%;
    height: 100%;
    position: relative;
  }

  
 
  


