<!-- Desktop view  start section-one -->
<section class=" d-none d-md-block ">
    <div class="banner-desktop-digital">
        <div class="container my-5">
            <div class="row ">
                <div class="col-md-8 col-12 ">
                    <div class="banner-content  ">
                        <p class="font-outfit-20">Design Agency</p>
                        <p class="philosopher-86-bold colour-1 text-uppercase">
                            BRANDING
                           
                          
                        </p>
                        <hr class="home-border">
                        <div class="col-8">
                            <p class="banner-font-24 colour-1">We don’t just design; we create stories. Our design experts are dedicated to crafting visuals that capture attention and resonate with your target audience.</p>
                        </div>
                   
                    </div>
                </div>
                <div class="col-md-4 d-none d-lg-block ">
                    <form class="  custom-form  ">
                    
                        <div class="form-style-banner mt-3">
                            <p class="philosopher-40-bold colour-1 text-center ">Let’s Discuss</p>
                            <div class="form-group mb-4 mt-3">
                                <input type="text" class="form-control custom-input" placeholder="Name">
                                <hr class="form-hr m-0 p-0">
                            </div>
                            <div class="form-group mb-4">
                                <input type="tel" class="form-control custom-input" placeholder="Phone Number">
                                <hr class="form-hr m-0 p-0">
                            </div>
                            <div class="form-group mb-4">
                                <input type="email" class="form-control custom-input" placeholder="Email">
                                <hr class="form-hr m-0 p-0">
                            </div>
                            <div class="form-group mb-4">
                                <textarea class="form-control custom-input mb-0 pb-0" placeholder="Message"></textarea>
                                <hr class="form-hr m-0 p-0">
                            </div>
                            <div class="form-group mb-4 mt-5">
                                <button type="submit" class="btn-style py-0 px-2">Get In Touch
                                    <i class="fa-regular fa-circle mx-1 mt-1 " style="color: #f0f2f4; font-size: 10px;"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Desktop view section-one end-->
<!-- Mobile view  start section-one -->
<section class=" d-block d-md-none ">
    <div class="banner-mob-digital">
        <div class="container my-5">
            <div class="row ">
                <div class="col-md-10 col-12 ">
                    <div class="banner-content   pt-5">
                        <p class="font-outfit-20 mb-1">Design Agencys</p>
                        <p class="philosopher-36-bold colour-1 text-uppercase m-0">
                            BRANDING</p>
                        <hr class="home-mob-border m-0 ">
                        <p class="banner-font-24 colour-1 pt-1">
                            We don’t just design; we create stories.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Mobile view section-one end-->

<section class="mt-lg-5 mt-4 pt-lg-3">
    <div class="container">
      <div class="row d-flex align-items-stretch">
        <div class="col-lg-4 mb-4 p-lg-4">
          <div class="box-border h-100 py-4">
            <div class="circle-img">
              <img src="../../assets/img/branding/icon1.png" class="img-fluid" alt="Image 1">
            </div>
            <div class="content">
              <p class="font-outfit-bold-24 colour-1 mt-2">Branding</p>
              <p class="font-outfit-light-18 colour-3 mt-2 mb-3">Cras pulvinar mattis nunc sed blandit
                Assist you in structuring your brand message by articulating your vision and mission, designing your brand identity, developing guidelines</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4 p-lg-4">
          <div class="box-border h-100 py-4">
            <div class="circle-img">
              <img src="../../assets/img/branding/icon2.png" class="img-fluid" alt="Image 2">
            </div>
            <div class="content">
              <p class="font-outfit-bold-24 text-uppercase  mt-2 colour-1">Design</p>
              <p class="font-outfit-light-18 colour-3 mt-2 mb-3">We help our clients overcome key challenges using design and Design Thinking.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4 p-lg-4">
            <div class="box-border h-100 py-4">
              <div class="circle-img">
                <img src="../../assets/img/branding/icon1.png" class="img-fluid" alt="Image 1">
              </div>
              <div class="content">
                <p class="font-outfit-bold-24 text-uppercase colour-1 mt-2">Communication</p>
                <p class="font-outfit-light-18 colour-3 mt-2 mb-3">We create compelling brand stories based on a sound communication strategy so that you can connect better with your audience.</p>
              </div>
            </div>
          </div>
       
      </div>
    </div>
  </section>

  <!-- <section class="mt-5 mb-5 pt-5 pb-5">
    <div style="background: linear-gradient(180deg, #01193A 0%, #0559CC 100%);">
        <div class="container">
            <div class="row text-center align-items-center position-relative">
                <p class="py-2 mt-2 mb-0 text-center text-white">Make things happen</p>
                <div class="col-12 position-relative">
                    <div class="video-container position-relative">
                        <img src="../../assets/img/branding/you.png" alt="" class="img-fluid w-100 custom-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="mt-lg-5 mt-4  mt-md-5 pt-lg-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <p class="philosopher-40-bold colour-1 px-md-3 text-uppercase  mb-0">BRanding</p>
        <hr class="hr-project mt-1">
      </div>
    </div>
      <div class="row box-border">
          <div class="col-lg-7 d-flex flex-column justify-content-center  ">
              <div class="me-md-4 ">
                  
                  <div class="d-block d-lg-none">
                      <img src="../../assets/img/branding/new-img1.png" alt="" class="img-fluid mb-3 ">
                  </div>
                  <p class="font-outfit-s-20 colour-3 px-md-3 text-center text-md-start">In a crowded marketplace, your brand is your most valuable asset. Effective branding goes beyond a logo or tagline—it encompasses the entire perception of your business. Whether you’re looking at creating your new Brand, or rejuvenating an existing one, your brand’s story is fundamental to both</p>
                  <p class="font-outfit-s-20 colour-3 px-md-3 text-center text-md-start">We specialize in creating compelling brand identities that resonate with your target audience and stand the test of time. Our comprehensive branding services are designed to transform your vision into a memorable and impactful brand that drives loyalty and growth.</p>

              </div>
          </div>
          <div class="col-lg-5 ">
              <div class="d-none d-lg-block">
                  <img src="../../assets/img/branding/new-img1.png" alt="" class="img-fluid  ">
              </div>
          </div>
      </div>
  </div>
</section>

<section class="mt-lg-5 mt-4 banner-two pt-lg-4">
  <div class="container pb-lg-4">


    <div class="row mb-4  ">
      <div class="col-lg-7">
        <div class="section-header">
          <p class="philosopher-40-bold colour-1 text-uppercase px-3">A Fine-Tuned Range of Our SErvices</p>
          <hr class="hr-project">
         
        </div>
      </div>
     
      
      </div>
 
    
    <div class="row px-3  box-border-right">
      <div class="col-md-4 col-6 p-md-3 p-2">
      <div class="custom-box ">
        <img src="../../assets/img/branding/img-1.png" class="img-border img-fluid" alt="Image 1">
      </div>
      </div>
      <div class="col-md-4 col-6 p-md-3 p-2">
       <div class="custom-box ">
        <img src="../../assets/img/branding/img-2.png" alt="Image 2">
       </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center p-md-3 p-2">
        <div class="custom-box mt-lg-3 px-3">
        <div class="custom-box-content">
          <p class="font-outfit-24 fw-bold text-uppercase text-align-left mb-0 mb-lg-3">Rebranding Logo & ID System</p>
          <p class="font-outfit-light-18  colour-1 mb-0 mb-lg-3">Revitalizing and refreshing your brand to stay relevant, resonate with new audiences, and effectively communicate your evolved vision and values.</p>
         
        </div>
      </div>
      </div>
    </div>
    <div class="row box-border px-3">
<div class="col-md-4 d-flex justify-content-center order-content p-md-3 p-2">
  <div class="custom-box mt-lg-3">
    <div class="custom-box-content px-lg-0 px-1">
      <p class="font-outfit-24 fw-bold text-uppercase text-align-left mb-0 mb-lg-3">Brand Development</p>
      <p class="font-outfit-light-18 colour-1 mb-0 mb-lg-3">
        Building a cohesive and compelling brand identity that accurately reflects your core values, vision, and market positioning, establishing a strong brand foundation.
      </p>
     
    </div>
  </div>
</div>
<div class="col-md-4 col-6 order-img-1 p-md-3 p-2">
  <div class="custom-box">
    <img src="../../assets/img/branding/img-3.png" alt="Image 1">
  </div>
</div>
<div class="col-md-4 col-6 order-img-2 p-md-3 p-2">
  <div class="custom-box">
    <img src="../../assets/img/branding/img-4.png" alt="Image 2">
  </div>
</div>
</div>

<div class="row px-3  box-border-right">
<div class="col-md-4 col-6 p-md-3 p-2">
<div class="custom-box ">
  <img src="../../assets/img/branding/img-5.png" class="img-border img-fluid" alt="Image 1">
</div>
</div>
<div class="col-md-4 col-6 p-md-3 p-2">
 <div class="custom-box ">
  <img src="../../assets/img/branding/img-6.png" alt="Image 2">
 </div>
</div>
<div class="col-md-4 d-flex justify-content-center p-md-3 p-2">
  <div class="custom-box mt-lg-3 px-3">
  <div class="custom-box-content">
    <p class="font-outfit-24 fw-bold text-uppercase text-align-left mb-0 mb-lg-3">Packaging</p>
    <p class="font-outfit-light-18 mb-0 mb-lg-3 colour-1">Designing eye-catching and functional packaging that enhances your product’s appeal, communicates your brand message, and stands out on the shelves.</p>
   
  </div>
</div>
</div>
</div>

<div class="row box-border px-3">
  <div class="col-md-4 d-flex justify-content-center order-content p-md-3 p-2">
    <div class="custom-box mt-lg-3">
      <div class="custom-box-content px-lg-0 px-1">
        <p class="font-outfit-24 fw-bold text-uppercase text-align-left mb-0 mb-lg-3">Brand Style Guides</p>
        <p class="font-outfit-light-18 colour-1 mb-0 mb-lg-3">
          Creating comprehensive guidelines to ensure consistent and professional brand representation across all platforms, maintaining brand integrity.
        </p>
       
      </div>
    </div>
  </div>
  <div class="col-md-4 col-6 order-img-1 p-md-3 p-2">
    <div class="custom-box">
      <img src="../../assets/img/branding/img-7.png" alt="Image 1">
    </div>
  </div>
  <div class="col-md-4 col-6 order-img-2 p-md-3 p-2">
    <div class="custom-box">
      <img src="../../assets/img/branding/img-8.png" alt="Image 2">
    </div>
  </div>
  </div>
   
  </div>

</section>


<section class="mt-lg-5 mt-4 mt-md-5 pt-lg-4">
  <div class="" style="background: linear-gradient(180deg, #FFFFFF 0%, #F4E9B9 50%, #FFFFFF 100%);">
      <div class="container">
          <div class="row justify-content-center text-center">
              <div class="col-md-4 col-4 d-flex flex-column align-items-center">
                  <img src="../../assets/img/website/icon-1.png" alt="Image 1" class=" d-size">
                  <p class="mt-3 font-outfit-regular-20 fw-bold  colour-4 text-uppercase">Creative Designs</p>
              </div>
              <div class="col-md-4 col-4 d-flex flex-column align-items-center">
                  <img src="../../assets/img/website/icon-1.png" alt="Image 2" class=" d-size">
                  <p class="mt-3 font-outfit-regular-20 fw-bold colour-4 text-uppercase">
                 
                    Experienced team

                  </p>
              </div>
              <div class="col-md-4 col-4 d-flex flex-column align-items-center">
                  <img src="../../assets/img/website/icon-1.png" alt="Image 3" class=" d-size">
                  <p class="mt-3 font-outfit-regular-20 fw-bold colour-4 text-uppercase ">customer satisfaction</p>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="mt-lg-5 mt-4 mt-md-5 pt-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4  h-100">
        <div class="row d-flex flex-column ">
          <div class="col-12 mb-4">
            <p class="philosopher-28-bold colour-1 text-uppercase text-center mb-4">drive audience connection with a brand to ultimately boost brand loyalty.</p>
            <img src="../../assets/img/branding/gallary-1.png" alt="" class="img-fluid">
          </div>
          <div class="col-12 mb-4">
            <img src="../../assets/img/branding/gallary-2.png" alt="" class="img-fluid">
          </div>
          <div class="col-12 mb-4">
            <img src="../../assets/img/branding/gallary-3.png" alt="" class="img-fluid h-100">
            <p class="philosopher-28-bold colour-1 text-uppercase text-center mt-4 px-1">expertise and an excellent portfolio that aligns with your brand vision.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 h-100">
        <div class="row d-flex flex-column h-100 justify-content-between">
          <div class="col-12">
            <img src="../../assets/img/branding/gallary-4.png" alt="" class="img-fluid">
          </div>
          <div class="col-12">
            <p class="philosopher-28-bold colour-1 text-uppercase text-center mt-5 mb-5">branding deliverables have been put in place, such as brand strategy, logo design, or brand activation and management.</p>
          </div>
          <div class="col-12 mb-4">
            <img src="../../assets/img/branding/gallary-5.png" alt="" class="img-fluid h-100">
          </div>
        </div>
      </div>
      <div class="col-md-4  h-100">
        <div class="row d-flex flex-column h-100 justify-content-between">
          <div class="col-12 mb-4">
            <p class="philosopher-28-bold colour-1 text-uppercase text-center mb-4">drive audience connection with a brand to ultimately boost brand loyalty.</p>
            <img src="../../assets/img/branding/gallary-6.png" alt="" class="img-fluid">
          </div>
          <div class="col-12 mb-4">
            <img src="../../assets/img/branding/gallary-7.png" alt="" class="img-fluid">
          </div>
          <div class="col-12 mb-4">
            <img src="../../assets/img/branding/gallary-8.png" alt="" class="img-fluid h-100">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
<div class="col-md-8">

  <img src="../../assets/img/branding/gallary-10.png" alt="" class="img-fluid h-100">
</div>
<div class="col-md-4 d-flex justify-content-center align-items-center ">
  <p class="philosopher-28-bold colour-1 text-uppercase text-center mb-4">drive audience connection with a brand to ultimately boost brand loyalty.</p>
            
</div>
    </div>
  </div>
</section>


  
