<!-- Desktop view  start section-one -->
<section class=" d-none d-md-block ">
    <div class="banner-desktop-digital">
        <div class="container my-5">
            <div class="row ">
                <div class="col-md-8 col-12 ">
                    <div class="banner-content  ">
                        <p class="font-outfit-20">Design Agency</p>
                        <p class="philosopher-86-bold colour-1 text-uppercase">
                            BRANDING
                        </p>
                        <hr class="home-border">
                        <div class="col-8">
                            <p class="banner-font-24 colour-6">We don’t just design; we create stories. Our design experts are dedicated to crafting visuals that capture attention and resonate with your target audience.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-none d-lg-block ">
                    <!-- <form class="  custom-form  ">
                        <div class="form-style-banner mt-3">
                            <p class="philosopher-40-bold colour-1 text-center ">Let’s Discuss</p>
                            <div class="form-group mb-4 mt-3">
                                <input type="text" class="form-control custom-input" placeholder="Name">
                                <hr class="form-hr m-0 p-0">
                            </div>
                            <div class="form-group mb-4">
                                <input type="tel" class="form-control custom-input" placeholder="Phone Number">
                                <hr class="form-hr m-0 p-0">
                            </div>
                            <div class="form-group mb-4">
                                <input type="email" class="form-control custom-input" placeholder="Email">
                                <hr class="form-hr m-0 p-0">
                            </div>
                            <div class="form-group mb-4">
                                <textarea class="form-control custom-input mb-0 pb-0" placeholder="Message"></textarea>
                                <hr class="form-hr m-0 p-0">
                            </div>
                            <div class="form-group mb-4 mt-5">
                                <button type="submit" class="btn-style py-0 px-2">
                                    Get In Touch
                                    <i class="fa-regular fa-circle mx-1 mt-1 " style="color: #f0f2f4; font-size: 10px;"></i>
                                </button>
                            </div>
                        </div>
                    </form> -->
                    <app-custom-form></app-custom-form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Desktop view section-one end-->
<!-- Mobile view  start section-one -->
<section class=" d-block d-md-none ">
    <div class="banner-mob-digital">
        <div class="container my-5">
            <div class="row ">
                <div class="col-md-10 col-12 ">
                    <div class="banner-content   pt-5">
                        <p class="font-outfit-20 mb-1">Design Agencys</p>
                        <p class="philosopher-36-bold colour-1 text-uppercase m-0">
                            BRANDING
                        </p>
                        <hr class="home-mob-border m-0 ">
                        <p class="banner-font-24 colour-1 pt-1">
                            We don’t just design; we create stories.
                        </p>
                        <button href="#" class="btn-style px-2 py-0" data-bs-toggle="modal" data-bs-target="#contactModal" (click)="trackButtonClick()" >Get Started
                            <i class="fa-regular fa-circle mx-1 mt-1 " style="color: #f0f2f4; font-size: 10px;"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Mobile view section-one end-->
<section class="mt-lg-5 mt-4 pt-lg-3">
    <div class="container">
        <div class="row d-flex align-items-stretch">
            <div class="col-lg-4 mb-4 p-lg-4">
                <div class="box-border h-100 py-4">
                    <div class="circle-img">
                        <img src="../../assets/img/branding/icon1.png" class="img-fluid" alt="Image 1">
                    </div>
                    <div class="content">
                        <p class="font-outfit-bold-24 colour-1 mt-2">Branding</p>
                        <p class="font-outfit-light-18 colour-3 mt-2 mb-3">
                            Cras pulvinar mattis nunc sed blandit
                Assist you in structuring your brand message by articulating your vision and mission, designing your brand identity, developing guidelines
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 p-lg-4">
                <div class="box-border h-100 py-4">
                    <div class="circle-img">
                        <img src="../../assets/img/branding/icon2.png" class="img-fluid" alt="Image 2">
                    </div>
                    <div class="content">
                        <p class="font-outfit-bold-24 text-uppercase  mt-2 colour-1">Design</p>
                        <p class="font-outfit-light-18 colour-3 mt-2 mb-3">We help our clients overcome key challenges using design and Design Thinking.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 p-lg-4">
                <div class="box-border h-100 py-4">
                    <div class="circle-img">
                        <img src="../../assets/img/branding/icon3.png" class="img-fluid" alt="Image 1">
                    </div>
                    <div class="content">
                        <p class="font-outfit-bold-24 text-uppercase colour-1 mt-2">Communication</p>
                        <p class="font-outfit-light-18 colour-3 mt-2 mb-3">We create compelling brand stories based on a sound communication strategy so that you can connect better with your audience.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class=" mt-lg-5 mt-5 pt-lg-3">
    <div class="" style="background: linear-gradient(180deg, #01193A 0%, #0559CC 100%);">
        <div class="container">
            <div class="row text-center align-items-center">
                <div class="image-container  ">
                    <p class="py-3 mt-2 mb-0 text-center text-white philosopher-64-bold">
                        Make things
                        <img src="../../assets/img/branding/shape-1.png" alt="Image 1" class="img-fluid me-md-2 me-1 img-resize">
                        <img src="../../assets/img/branding/shape-2.png" alt="Image 2" class="img-fluid me-md-2 me-1 img-resize">
                        <img src="../../assets/img/branding/shape-3.png" alt="Image 3" class="img-fluid me-md-2 me-1 img-resize">
                        happen
                    </p>
                    <div class="half-background mb-lg-5 mb-md-4 mb-3">
                        <img src="../../assets/img/branding/you.png" alt="Your Image" class="w-100">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class=" mt-5  mt-md-5 pt-lg-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <p class="philosopher-40-bold colour-1 px-md-3 text-uppercase  mb-0">BRanding</p>
                <hr class="hr-project mt-1">
            </div>
        </div>
        <!-- for dektop view -->
        <div class="d-none d-md-block">
            <div class="row box-border">
                <div class="col-lg-7 d-flex flex-column justify-content-center  ">
                    <div class="me-md-4 ">
                        <p class="font-outfit-s-20 colour-3 px-md-3 text-center text-md-start">In a crowded marketplace, your brand is your most valuable asset. Effective branding goes beyond a logo or tagline—it encompasses the entire perception of your business. Whether you’re looking at creating your new Brand, or rejuvenating an existing one, your brand’s story is fundamental to both</p>
                        <p class="font-outfit-s-20 colour-3 px-md-3 text-center text-md-start">We specialize in creating compelling brand identities that resonate with your target audience and stand the test of time. Our comprehensive branding services are designed to transform your vision into a memorable and impactful brand that drives loyalty and growth.</p>
                    </div>
                </div>
                <div class="col-lg-5 ">
                    <div class="">
                        <img src="../../assets/img/branding/new-img1.png" alt="" class="img-fluid  ">
                    </div>
                </div>
            </div>
        </div>
        <!-- for mobile view -->
        <div class="d-block d-md-none">
            <div class="row ">
                <div class="col-lg-7 d-flex flex-column justify-content-center mb-3 ">
                    <div class="me-md-4 ">
                        <div class="">
                            <img src="../../assets/img/branding/new-img1.png" alt="" class="img-fluid  ">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 ">
                    <p class="font-outfit-s-20 colour-3 px-md-3 text-center text-md-start">In a crowded marketplace, your brand is your most valuable asset. Effective branding goes beyond a logo or tagline—it encompasses the entire perception of your business. Whether you’re looking at creating your new Brand, or rejuvenating an existing one, your brand’s story is fundamental to both</p>
                    <p class="font-outfit-s-20 colour-3 px-md-3 text-center text-md-start mb-0">We specialize in creating compelling brand identities that resonate with your target audience and stand the test of time. Our comprehensive branding services are designed to transform your vision into a memorable and impactful brand that drives loyalty and growth.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt-lg-5 mt-5 banner-two pt-lg-4">
    <div class="container pb-lg-4">
        <div class="row mb-md-4 ">
            <div class="col-lg-7">
                <div class="section-header">
                    <p class="philosopher-40-bold colour-1 text-uppercase px-md-3">A Fine-Tuned Range of Our SErvices</p>
                    <hr class="hr-project">
                </div>
            </div>
        </div>
        <div class="row px-3  box-border-right">
            <div class="col-md-4 col-6 p-md-3 p-2">
                <div class="custom-box ">
                    <img src="../../assets/img/branding/img-1.png" class="img-border img-fluid" alt="Image 1">
                </div>
            </div>
            <div class="col-md-4 col-6 p-md-3 p-2">
                <div class="custom-box ">
                    <img src="../../assets/img/branding/img-2.png" alt="Image 2">
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center p-md-3 p-2">
                <div class="custom-box mt-lg-3 px-3">
                    <div class="custom-box-content">
                        <p class="font-outfit-24 fw-bold text-uppercase text-align-left mb-0 mb-lg-3">Rebranding Logo & ID System</p>
                        <p class="font-outfit-light-18  colour-1 mb-0 mb-lg-3">Revitalizing and refreshing your brand to stay relevant, resonate with new audiences, and effectively communicate your evolved vision and values.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row box-border px-3">
            <div class="col-md-4 d-flex justify-content-center order-content p-md-3 p-2">
                <div class="custom-box mt-lg-3">
                    <div class="custom-box-content px-lg-0 px-1">
                        <p class="font-outfit-24 fw-bold text-uppercase text-align-left mb-0 mb-lg-3">Brand Development</p>
                        <p class="font-outfit-light-18 colour-1 mb-0 mb-lg-3">
                            Building a cohesive and compelling brand identity that accurately reflects your core values, vision, and market positioning, establishing a strong brand foundation.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-6 order-img-1 p-md-3 p-2">
                <div class="custom-box">
                    <img src="../../assets/img/branding/img-3.png" alt="Image 1">
                </div>
            </div>
            <div class="col-md-4 col-6 order-img-2 p-md-3 p-2">
                <div class="custom-box">
                    <img src="../../assets/img/branding/img-4.png" alt="Image 2">
                </div>
            </div>
        </div>
        <div class="row px-3  box-border-right">
            <div class="col-md-4 col-6 p-md-3 p-2">
                <div class="custom-box ">
                    <img src="../../assets/img/branding/img-5.png" class="img-border img-fluid" alt="Image 1">
                </div>
            </div>
            <div class="col-md-4 col-6 p-md-3 p-2">
                <div class="custom-box ">
                    <img src="../../assets/img/branding/img-6.png" alt="Image 2">
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center p-md-3 p-2">
                <div class="custom-box mt-lg-3 px-3">
                    <div class="custom-box-content">
                        <p class="font-outfit-24 fw-bold text-uppercase text-align-left mb-0 mb-lg-3">Packaging</p>
                        <p class="font-outfit-light-18 mb-0 mb-lg-3 colour-1">Designing eye-catching and functional packaging that enhances your product’s appeal, communicates your brand message, and stands out on the shelves.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row box-border px-3">
            <div class="col-md-4 d-flex justify-content-center order-content p-md-3 p-2">
                <div class="custom-box mt-lg-3">
                    <div class="custom-box-content px-lg-0 px-1">
                        <p class="font-outfit-24 fw-bold text-uppercase text-align-left mb-0 mb-lg-3">Brand Style Guides</p>
                        <p class="font-outfit-light-18 colour-1 mb-0 mb-lg-3">
                            Creating comprehensive guidelines to ensure consistent and professional brand representation across all platforms, maintaining brand integrity.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-6 order-img-1 p-md-3 p-2">
                <div class="custom-box">
                    <img src="../../assets/img/branding/img-7.png" alt="Image 1">
                </div>
            </div>
            <div class="col-md-4 col-6 order-img-2 p-md-3 p-2">
                <div class="custom-box">
                    <img src="../../assets/img/branding/img-8.png" alt="Image 2">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt-lg-5 mt-5 mt-md-5 pt-lg-4">
    <div class="" style="background: linear-gradient(180deg, #FFFFFF 0%, #F4E9B9 50%, #FFFFFF 100%);">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-4 col-4 d-flex flex-column align-items-center">
                    <img src="../../assets/img/branding/group-icon1.png" alt="Image 1" class=" d-size">
                    <p class="mt-3 font-outfit-regular-20 fw-bold  colour-4 text-uppercase">Creative Designs</p>
                </div>
                <div class="col-md-4 col-4 d-flex flex-column align-items-center">
                    <img src="../../assets/img/branding/group-icon2.png" alt="Image 2" class=" d-size">
                    <p class="mt-3 font-outfit-regular-20 fw-bold colour-4 text-uppercase">
                        Experienced team
                    </p>
                </div>
                <div class="col-md-4 col-4 d-flex flex-column align-items-center">
                    <img src="../../assets/img/website/icon-1.png" alt="Image 3" class=" d-size">
                    <p class="mt-3 font-outfit-regular-20 fw-bold colour-4 text-uppercase ">customer satisfaction</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt-lg-5 mt-5 mt-md-5 pt-lg-5">
    <div class="container d-none d-md-block">
        <div class="row">
            <div class="col-md-4  h-100">
                <div class="row d-flex flex-column ">
                    <div class="col-12 mb-4">
                        <p class="philosopher-24-bold colour-1 fst-italic text-uppercase text-center mt-5 mb-5">drive audience connection with a brand to ultimately boost brand loyalty.</p>
                        <img src="../../assets/img/branding/gallary-1.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-12 mb-4">
                        <img src="../../assets/img/branding/gallary-2.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-12 mb-4">
                        <img src="../../assets/img/branding/gallary-3.png" alt="" class="img-fluid h-100">
                        <p class="philosopher-24-bold fst-italic colour-1 text-uppercase text-center mt-5 px-1">expertise and an excellent portfolio that aligns with your brand vision.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 h-100">
                <div class="row d-flex flex-column h-100 justify-content-between">
                    <div class="col-12">
                        <img src="../../assets/img/branding/gallary-4.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-12">
                        <p class="philosopher-24-bold fst-italic colour-1 text-uppercase text-center mt-5 py-3 mb-5">branding deliverables have been put in place, such as brand strategy, logo design, or brand activation and management.</p>
                    </div>
                    <div class="col-12 mb-4">
                        <img src="../../assets/img/branding/gallary-5.png" alt="" class="img-fluid h-100">
                    </div>
                </div>
            </div>
            <div class="col-md-4  h-100">
                <div class="row d-flex flex-column h-100 justify-content-between">
                    <div class="col-12 mb-4">
                        <p class="philosopher-24-bold fst-italic colour-1 text-uppercase text-center mb-5 mt-5"> an ongoing solution that can help you continue to grow your brand</p>
                        <img src="../../assets/img/branding/gallary-6.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-12 mb-4">
                        <img src="../../assets/img/branding/gallary-7.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-12 mb-4">
                        <img src="../../assets/img/branding/gallary-8.png" alt="" class="img-fluid h-100">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <img src="../../assets/img/branding/gallary-10.png" alt="" class="img-fluid h-100">
            </div>
            <div class="col-md-4 d-flex justify-content-center align-items-center ">
                <p class="philosopher-24-bold fst-italic colour-1 text-uppercase text-center mb-4">drive audience connection with a brand to ultimately boost brand loyalty.</p>
            </div>
        </div>
    </div>
    <div class="container d-block d-md-none ">
        <div class="row px-2">
            <div class="col-4 col-md-4 p-1">
                <img src="../../assets/img/branding/m-gallary-1.png" alt="" class="img-fluid w-100">
            </div>
            <div class="col-4 col-md-4 p-1">
                <img src="../../assets/img/branding/m-gallary-2.png" alt="" class="img-fluid w-100">
            </div>
            <div class="col-4 col-md-4 p-1">
                <img src="../../assets/img/branding/m-gallary-3.png" alt="" class="img-fluid w-100">
            </div>
        </div>
        <div class="row px-2">
            <div class="col-8 p-1">
                <img src="../../assets/img/branding/m-gallary-4.png" alt="" class="img-fluid w-100">
            </div>
            <div class="col-4 p-1">
                <img src="../../assets/img/branding/m-gallary-5.png" alt="" class="img-fluid w-100">
            </div>
        </div>
        <div class="row px-2">
            <div class="col-4 p-1">
                <img src="../../assets/img/branding/m-gallary-6.png" alt="" class="img-fluid w-100">
            </div>
            <div class="col-4 p-1">
                <img src="../../assets/img/branding/m-gallary-7.png" alt="" class="img-fluid w-100">
            </div>
            <div class="col-4 p-1">
                <img src="../../assets/img/branding/m-gallary-8.png" alt="" class="img-fluid w-100">
            </div>
        </div>
        <div class="row px-2">
            <div class="col-4 p-1">
                <img src="../../assets/img/branding/m-gallary-9.png" alt="" class="img-fluid h-100 w-100">
            </div>
            <div class="col-8 p-1">
                <img src="../../assets/img/branding/m-gallary-10.png" alt="" class="img-fluid w-100">
            </div>
        </div>
    </div>
</section>
<section class="mt-lg-5 mt-5 mt-md-5 pt-lg-5 ">
    <div class="banner-star">
    <div class="container">
        <div class="row  ">
            <div class="section-header">
                <p class="philosopher-40-bold colour-1 text-uppercase px-md-3">Our STRATEGIES as creative Branding Agency</p>
                <hr class="hr-project">
            </div>
        </div>
        <div class="row mt-md-4">
            <div class="col-lg-6   ">
                <div class="me-md-4 ">
                    <div class="">
                        <img src="../../assets/img/branding/image-1.png" alt="" class="img-fluid w-100 mb-3">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center p-md-5 p-3">
                <div class="row">
                    <div class="col-12 mb-md-5 mb-3">
                        <div class="box-brand">
                            <p class="philosopher-30-bold colour-1 mb-0 py-2 text-center">BRAND POSITIONING</p>
                        </div>
                    </div>
                    <div class="col-12 mb-md-5 mb-3">
                        <div class="box-brand">
                            <p class="philosopher-30-bold colour-1 mb-0 py-2 text-center">BRAND ARCHITECTURE</p>
                        </div>
                    </div>
                    <div class="col-12 mb-md-5 mb-3">
                        <div class="box-brand">
                            <p class="philosopher-30-bold colour-1 mb-0 py-2 text-center">BRAND EXTENSION</p>
                        </div>
                    </div>
                    <div class="col-12 mb-md-5 mb-3">
                        <div class="box-brand">
                            <p class="philosopher-30-bold colour-1 mb-0 py-2 text-center">PERSONAL BRANDING</p>
                        </div>
                    </div>
                    <div class="col-12 mb-md-5 mb-3">
                        <div class="box-brand">
                            <p class="philosopher-30-bold colour-1 mb-0 py-2 text-center">DIGITAL MEDIA BRANDING</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<section class="mt-1">
    <div class="py-4" style="background: linear-gradient(180deg, #0559CC 0%, #01193A 100%); width: 100%;">
        <div class="container ">
            <div class="row  py-lg-5 py-md-3 web-scrollmenu">
                <div class="col-md-3 ">
                    <img src="../../assets/img/branding/box1.png" alt="" class="img-fluid w-100 h-100">
                </div>
                <div class="col-md-3 ">
                    <img src="../../assets/img/branding/box2.png" alt="" class="img-fluid w-100 h-100">
                </div>
                <div class="col-md-3 ">
                    <img src="../../assets/img/branding/box4.png" alt="" class="img-fluid w-100 h-100">
                </div>
                <div class="col-md-3 ">
                    <img src="../../assets/img/branding/box3.png" alt="" class="img-fluid w-100 h-100">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt-lg-5 mt-4 mt-md-5 banner-col">
    <div class="banner-col">
        <div class="container py-lg-5 py-4 mb-5 pb-5">
            <div class="row ">
                <div class="col-lg-7 py-md-4  ">
                    <p class="philosopher-40-bold colour-1 px-md-3 text-uppercase  mb-0  ">How Our branding process Works</p>
                    <hr class="hr-project mt-1">
                </div>
            </div>
            <!-- Desktop  view -->
            <div class="d-none d-lg-block">
                <div class="time-line-box">
                    <div class="swiper-container text-center">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="timestamp">
                                    <span class="font-segoe-48 color-web">01</span>
                                </div>
                                <div class="status">
                                    <span>
                                        <p class="font-outfit-20 text-uppercase font-w-700 mt-5">discovery</p>
                                        <p class="font-outfit-light-18 colour-3 px-4">Our discovery phase involves in-depth market research and competitive analysis to uncover key insights and opportunities.</p>
                                    </span>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="timestamp">
                                    <span class="font-segoe-48 color-web">02</span>
                                </div>
                                <div class="status">
                                    <span>
                                        <p class="font-outfit-20 text-uppercase font-w-700 mt-5">strategy</p>
                                        <p class="font-outfit-light-18 colour-3 px-4">We develop a comprehensive plan that defines your brand's positioning, messaging, and unique value proposition.</p>
                                    </span>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="timestamp">
                                    <span class="font-segoe-48 color-web">03</span>
                                </div>
                                <div class="status"> <span>
                                    <p class="font-outfit-20 text-uppercase font-w-700 mt-5">identity</p>
                                    <p class="font-outfit-light-18 colour-3 px-4">Creating a cohesive and compelling brand identity, including logo design, color schemes, typography, and visual elements.</p>
                                   </span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
             
            </div>
            <!-- Mobile  view -->
            <div class="box-back d-block d-lg-none">
                <div class="container">
                    <div class="row mt-lg-3 mt-md-0">
                        <div class="col-12">
                            <div class="py-md-3 py-3 d-flex flex-column h-100 px-md-3 px-2">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <p class="font-outfit-bold-24 colour-1 text-uppercase mb-0">
                                            discovery
                                        </p>
                                        <p class="mb-0 font-outfit-light-18 colour-3">
                                            Our discovery phase involves in-depth market research and competitive analysis to uncover key insights and opportunities.
                                        </p>
                                    </div>
                                    <p class="font-segoe-80 color-web  mb-0">01</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="py-md-3 py-3 d-flex flex-column h-100 px-md-3 px-2">
                                <div class="d-flex align-items-center">
                                    <p class="font-segoe-80 color-web  mb-0">02</p>
                                    <div>
                                        <p class="font-outfit-bold-24 colour-1 text-uppercase mb-0">
                                            strategy
                                        </p>
                                        <p class="mb-0 font-outfit-light-18 colour-3">
                                            We develop a comprehensive plan that defines your brand's positioning, messaging, and unique value proposition. 
                                implemented.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="py-md-3 py-3 d-flex flex-column h-100 px-md-3 px-2">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <p class="font-outfit-bold-24 colour-1 text-uppercase mb-0">
                                            identity
                                        </p>
                                        <p class="mb-0 font-outfit-light-18 colour-3">
                                            Creating a cohesive and compelling brand identity, including logo design, color schemes, typography, and visual elements.
                                        </p>
                                    </div>
                                    <p class="font-segoe-80 color-web  mb-0">03</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt-lg-5 mt-5 pt-lg-5 ">
    <div class="container  ">
        <p class="text-center philosopher-40-bold colour-1 mb-lg-5 mb-4">Testimonials</p>
        <div class="box-about-border">
            <div class="row web-scrollmenu  px-md-3">
                <div class="col-lg-4 d-flex flex-column mb-md-3">
                    <div class="d-flex ">
                        <p class="font-outfit-light-18 colour-4 fw-normal    mt-3">
                            Our online sales have increased by 50% since we started working with Crrescita on digital promotions. Their expertise in SEO, social media, and PPC advertising is unmatched.
                        </p>
                        <img src="../../assets/img/home/comma1.png" alt="Image 1" class="comma-icon">
                    </div>
                    <div class="d-flex mt-4">
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                    </div>
                    <p class="font-outfit-light-16 colour-1 mt-3">RUFUS - Entrepreneur</p>
                </div>
                <div class="col-lg-4 d-flex flex-column  mb-md-3">
                    <div class="d-flex">
                        <p class="font-outfit-light-18 colour-4 fw-normal mt-3">
                            Crrescita’s web development team delivered a sleek, user-friendly website that perfectly aligns with our business goals. Their attention to detail and timely delivery were impressive.
                        </p>
                        <img src="../../assets/img/home/comma1.png" alt="Image 1" class="comma-icon">
                    </div>
                    <div class="d-flex mt-4">
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                    </div>
                    <p class="font-outfit-light-16 colour-1 mt-3">SANDRA - Project Manager</p>
                </div>
                <div class="col-lg-4 d-flex flex-column  mb-md-3">
                    <div class="d-flex">
                        <p class="font-outfit-light-18 colour-4 fw-normal mt-3">
                            Thanks to Crrescita’s digital branding expertise, our social media presence has grown significantly. Their tailored strategies and content creation have driven excellent engagement.
                        </p>
                        <img src="../../assets/img/home/comma1.png" alt="Image 1" class="comma-icon">
                    </div>
                    <div class="d-flex mt-4">
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                    </div>
                    <p class="font-outfit-light-16 colour-1 mt-3">ANABEL - Manager</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt-5 d-block d-md-none  ">
    <div class="custom-form ">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- <form class="  ">
                        <p class="philosopher-40-bold colour-1 text-center text-uppercase">LETS GET IN TOuCH</p>
                        <div class="form-style-banner mt-3">
                            <div class="form-group mb-4 mt-3">
                                <input type="text" class="form-control custom-input" placeholder="Name">
                                <hr class="form-hr m-0 p-0">
                            </div>
                            <div class="form-group mb-4">
                                <input type="tel" class="form-control custom-input" placeholder="Phone Number">
                                <hr class="form-hr m-0 p-0">
                            </div>
                            <div class="form-group mb-4">
                                <input type="email" class="form-control custom-input" placeholder="Email">
                                <hr class="form-hr m-0 p-0">
                            </div>
                            <div class="form-group mb-4">
                                <textarea class="form-control custom-input mb-0 pb-0" placeholder="Message"></textarea>
                                <hr class="form-hr m-0 p-0">
                            </div>
                            <div class="form-group mb-4 mt-5">
                                <button type="submit" class="btn-style py-0 px-2">
                                    Get In Touch
                                    <i class="fa-regular fa-circle mx-1 mt-1 " style="color: #f0f2f4; font-size: 10px;"></i>
                                </button>
                            </div>
                        </div>
                    </form> -->
                    <app-custom-form></app-custom-form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class=" mt-lg-5 mt-5 pt-lg-4 mb-lg-5 pb-5 mb-2">
    <div class="container px-lg-0 px-4">
        <div class="row " style="background: linear-gradient(180deg, #0559CC 0%, #01193A 100%);">
            <div class="mt-lg-5 pt-lg-5 pt-3 d-flex justify-content-between align-items-center px-lg-5">
                <div class="col-md-6 col-7 ">
                    <p class="card-section-font colour-2  mt-lg-5 mb-md-3 mb-2">CRAFTING UNIQUE SOLUTIONS FOR YOUR BUSINESS</p>
                </div>
                <div class="col-md-6 col-5  d-flex justify-content-end ">
                    <a class="btn-seemore mt-lg-5 mt-3 text-white fw-normal"data-bs-toggle="modal" data-bs-target="#contactModal" (click)="trackButtonFooterGetStarted()">
                        Get Started
                        <i class="fa-regular fa-circle mx-1 mt-1" style="color:  rgba(255, 255, 255, 1); font-size: 10px;"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<app-modal-form></app-modal-form>




