<!-- Desktop view  start section-one -->
<section  class=" d-none d-md-block ">
    <div class="banner-desktop-home">
    <div class="container my-5">
      <div class="row ">
        <div class="col-md-10 col-12 ">
          <div class="banner-content ">
            <p class="font-outfit-20">Design Agency</p>
            <p class="philosopher-86-bold colour-1 text-uppercase">ThE hub of Creativity</p>
            <hr class="home-border">
            <p class="banner-font-24 colour-1" >Unleash your brand’s full potential with our innovative approach where creativity thrives and designs shine. We turn your ideas into impactful, eye-catching designs that resonate with your audience.</p>
            <button href="#" class="btn-style px-2 py-0">Get Started
              <i class="fa-regular fa-circle mx-1 mt-1 " style="color: #f0f2f4; font-size: 10px;"></i>
          </button>
          </div>
        </div>

      </div>
    </div>
  </div>
  </section>
<!-- Desktop view section-one end-->

<!-- Mobile view  start section-one -->
<section  class=" d-block d-md-none ">
<div class="banner-mob-home">
    <div class="container my-5">
      <div class="row ">
        <div class="col-md-10 col-12 ">
          <div class="banner-content   pt-5">
            <p class="font-outfit-20 m-0">Design Agencys</p>
            <p class="philosopher-36-bold colour-1 text-uppercase m-0">Creative Hub</p>
            <hr class="home-mob-border m-0 ">
            <p class="banner-font-24 colour-1 pt-1">Where Ideas Blossom and Designs Shine Bright - Unleash Your Brand's Potential Today!</p>
           
          </div>
        </div>

      </div>
    </div>
  </div>
  </section> 

<!-- Mobile view section-one end-->

  <section class="mt-lg-5 mt-4 pt-lg-3 ">
    <div class="container   ">
      <div class="row">
        <div class="col-lg-4 mb-4 p-lg-4 ">

          <div class=" box-border   py-4">
            <div class="text-md-center text-left">
            <img src="../../assets/img/home/icon-2.png" class="img-fluid img-sec1" alt="Image 1">
          </div>
            <div class="content">
              <p class="font-outfit-bold-24 colour-1 mt-2">DIGITAL PROMOTIONS</p>
              <p class="font-outfit-light-18 colour-3 mt-2 mb-3">Cras pulvinar mattis nunc sed blandit
                libero. A scelerisque purus semper eget
                duis at. Tortor pretium viverra feugiat. Ut
                tortor pretium viverra.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4  p-lg-4 ">
          <div class=" box-border py-4">
            <div class="text-md-center text-left">
            <img src="../../assets/img/home/icon-1.png" class="img-fluid mb-lg-5 mb-3 img-sec1" alt="Image 2">
          </div>
            <div class="content">
              <p class="font-outfit-bold-24 colour-1">BRANDING</p>
              <p class="font-outfit-light-18 colour-3 mt-2 mb-3">Cras pulvinar mattis nunc sed blandit
                libero. A scelerisque purus semper eget
                duis at. Tortor pretium viverra feugiat. Ut
                tortor pretium viverra.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4  p-lg-4 ">
          <div class=" box-border py-4">
            <div class="text-md-center text-left">
            <img src="../../assets/img/home/icon-3.png" class="img-fluid mb-lg-5 mb-3 img-sec1" alt="Image 3">
           </div>
            <div class="content">
              <p class="font-outfit-bold-24 colour-1">WEBSITE DEVELOPMENT</p>
              <p class="font-outfit-light-18 colour-3 mt-2 mb-3">Cras pulvinar mattis nunc sed blandit
                libero. A scelerisque purus semper eget
                duis at. Tortor pretium viverra feugiat. Ut
                tortor pretium viverra.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-lg-5 mt-4 banner-two ">
    <div class="container pb-lg-4">
      <div class="row mb-4  ">
        <div class="col-lg-5">
          <div class="section-header">
            <p class="philosopher-40-bold colour-1 px-3">Our Projects</p>
            <hr class="hr-project">
            <p class="font-outfit-bold-24 fw-normal colour-3 px-3 ">

              Lacinia at quis risus sed vulputate odio ut enim. Massa tempor nec feugiat nisl pretium.
            </p>
          </div>
        </div>
       
        
          <div class="col-lg-7 d-flex align-items-center mt-lg-5  justify-content-end">
            <button href="#" class="btn-style ">View All Projects
              <i class="fa-regular fa-circle mx-1 mt-1 " style="color: #f0f2f4; font-size: 10px;"></i>

            </button>
            
          </div>
        </div>
   
      
      <div class="row px-3  box-border-right">
        <div class="col-md-4 col-6 p-md-3 p-2">
        <div class="custom-box ">
          <img src="../../assets/img/home/image-2.png" class="img-border img-fluid" alt="Image 1">
        </div>
        </div>
        <div class="col-md-4 col-6 p-md-3 p-2">
         <div class="custom-box ">
          <img src="../../assets/img/home/image-1.png" alt="Image 2">
         </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center p-md-3 p-2">
          <div class="custom-box mt-lg-3 px-3">
          <div class="custom-box-content">
            <p class="font-outfit-24 fw-bold text-uppercase text-align-left mb-0 mb-lg-3">Digital Promotions</p>
            <p class="font-outfit-light-18  colour-1 mb-0 mb-lg-3">Arcu cursus euismod quis viverra nibh cras pulvinar. Proin nibh nisl condimentum id venenatis a condimentum vitae.</p>
            <a class="btn-seemore">Know More</a>
          </div>
        </div>
        </div>
      </div>
      <div class="row box-border px-3">
  <div class="col-md-4 d-flex justify-content-center order-content p-md-3 p-2">
    <div class="custom-box mt-lg-3">
      <div class="custom-box-content px-lg-0 px-1">
        <p class="font-outfit-24 fw-bold text-uppercase text-align-left mb-0 mb-lg-3">Product Branding</p>
        <p class="font-outfit-light-18 colour-1 mb-0 mb-lg-3">
          Auctor neque vitae tempus quam. Sem integer vitae justo eget magna fermentum. Aliquam eleifend mi posuere.
        </p>
        <a class="btn-seemore">Know More</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-6 order-img-1 p-md-3 p-2">
    <div class="custom-box">
      <img src="../../assets/img/home/image-4.png" alt="Image 1">
    </div>
  </div>
  <div class="col-md-4 col-6 order-img-2 p-md-3 p-2">
    <div class="custom-box">
      <img src="../../assets/img/home/image-3.png" alt="Image 2">
    </div>
  </div>
</div>

<div class="row px-3  box-border-right">
  <div class="col-md-4 col-6 p-md-3 p-2">
  <div class="custom-box ">
    <img src="../../assets/img/home/image-6.png" class="img-border img-fluid" alt="Image 1">
  </div>
  </div>
  <div class="col-md-4 col-6 p-md-3 p-2">
   <div class="custom-box ">
    <img src="../../assets/img/home/image-5.png" alt="Image 2">
   </div>
  </div>
  <div class="col-md-4 d-flex justify-content-center p-md-3 p-2">
    <div class="custom-box mt-lg-3 px-3">
    <div class="custom-box-content">
      <p class="font-outfit-24 fw-bold text-uppercase text-align-left mb-0 mb-lg-3">Website Design &
        Development</p>
      <p class="font-outfit-light-18 mb-0 mb-lg-3 colour-1">Cursus sit amet dictum sit amet justo donec enim. Justo donec
        enim diam vulputate ut pharetra sit amet aliquam.</p>
      <a class="btn-seemore">Know More</a>
    </div>
  </div>
  </div>
</div>
     
    </div>
  

  </section>

  <section class="mt-lg-5 mt-4  ">
    <div class="container ">
      <div class=" col-lg-5 section-header mb-4">
        <p class="philosopher-40-bold colour-1 px-3 ">Together we create</p>
        <hr class="hr-project">
        <p class="font-outfit-bold-24 fw-normal colour-3 px-3">Lacinia at quis risus sed vulputate odio ut enim. Massa tempor
          nec feugiat nisl pretium.
      </p>
      </div>
      <div class="row  ">
        <!-- Image Column -->
        <div class="col-lg-6  px-lg-0 px-3 mb-lg-0 mb-4">
          <img src="../../assets/img/home/section-3-img.png" class="img-fluid w-100  pe-lg-4" alt="Responsive Image">
        </div>
        <!-- Box with four equal columns -->
        <div class="col-lg-6 d-flex flex-column ">
          <div class="row  d-flex flex-wrap h-100 px-lg-0 px-3">
            <div class="col-md-6 col-6 inner-box  d-flex flex-column justify-content-center">
              <p class="text-center box-font-28-bold colour-1">Creative Solution</p>
              <p class="mt-lg-3 box-font-16 fw-normal colour-1">Vitae congue eu consequat ac felis donec et. Pulvinar etiam non</p>
            </div>
            <div class="col-md-6 col-6 inner-box  d-flex flex-column justify-content-center">
              <p class="text-center box-font-28-bold colour-1">Endless Business</p>
              <p class="mt-lg-3 box-font-16 fw-normal colour-1">Vitae congue eu consequat ac felis donec et. Pulvinar etiam non</p>
            </div>
            <div class="col-md-6 col-6 inner-box  d-flex flex-column justify-content-center">
              <p class="text-center box-font-28-bold colour-1">Impactful Magic</p>
              <p class="mt-lg-3 box-font-16  fw-normal colour-1">Vitae congue eu consequat ac felis donec et. Pulvinar etiam non</p>
            </div>
            <div class="col-md-6 col-6 inner-box d-flex flex-column justify-content-center">
              <p class="text-center box-font-28-bold colour-1">Strategy Genius</p>
              <p class="mt-lg-3 box-font-16  fw-normal colour-1">Vitae congue eu consequat ac felis donec et. Pulvinar etiam non</p>
            </div>
          </div>
        </div>
      </div>
      
  </div>

  </section>
  <section class="mt-5 d-block d-md-none">
    <div class="container px-3 ">
      <div class="row ">
        <img src="../../assets/img/home/contacr-form.png" alt="">
  
        <div class="px-2">
        <div class="form-style ">
        
          <div class="form-group mb-4 mt-3">
              <input type="text" class="form-control custom-input" placeholder="Name">
              <hr class="form-hr m-0 p-0">
          </div>
          <div class="form-group mb-4">
              <input type="tel" class="form-control custom-input" placeholder="Phone Number">
              <hr class="form-hr m-0 p-0">
          </div>
          <div class="form-group mb-4">
              <input type="email" class="form-control custom-input" placeholder="Email">
              <hr class="form-hr m-0 p-0">
          </div>
          <div class="form-group mb-4">
              <textarea class="form-control custom-input mb-0 pb-0" placeholder="Message"></textarea>
              <hr class="form-hr m-0 p-0">
          </div>
          <div class="form-group mb-4  mt-5">
              <button type="submit" class="btn-style py-0 px-2">Get In Touch
                  <i class="fa-regular fa-circle mx-1 mt-1 " style="color: #f0f2f4; font-size: 10px;"></i>
              </button>
          </div>
      </div>
    </div>
      </div>
    </div>
  </section>

  <section class="mt-lg-5 mt-5 pt-lg-5 pt-lg-2">
    <div class="container  ">
        <p class="text-center philosopher-40-bold colour-1 mb-lg-5 mb-4">Testimonials</p>
        <div class="box-about-border">
            <div class="row web-scrollmenu  px-md-3">
                <div class="col-lg-4 d-flex flex-column mb-md-3">
                    <div class="d-flex ">
                        <p class="font-outfit-light-18 colour-4 fw-normal    mt-3">
                            Tempus iaculis urna id volutpat lacus laoreet non. Sit amet consectetur adipiscing elit ut aliquam purus sit sed vulputate enim.
                        </p>
                        <img src="../../assets/img/home/comma1.png" alt="Image 1" class="comma-icon">
                    </div>
                    <div class="d-flex mt-4">
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                    </div>
                    <p class="font-outfit-light-16 colour-1 mt-3">RUFUS - Entrepreneur</p>
                </div>
                <div class="col-lg-4 d-flex flex-column  mb-md-3">
                    <div class="d-flex">
                        <p class="font-outfit-light-18 colour-4 fw-normal mt-3">
                            Tempus iaculis urna id volutpat lacus laoreet non. Sit amet consectetur adipiscing elit ut aliquam purus sit sed vulputate enim.
                        </p>
                        <img src="../../assets/img/home/comma1.png" alt="Image 1" class="comma-icon">
                    </div>
                    <div class="d-flex mt-4">
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                    </div>
                    <p class="font-outfit-light-16 colour-1 mt-3">SANDRA - Project Manager</p>
                </div>
                <div class="col-lg-4 d-flex flex-column  mb-md-3">
                    <div class="d-flex">
                        <p class="font-outfit-light-18 colour-4 fw-normal mt-3">
                            Tempus iaculis urna id volutpat lacus laoreet non. Sit amet consectetur adipiscing elit ut aliquam purus sit sed vulputate enim.
                        </p>
                        <img src="../../assets/img/home/comma1.png" alt="Image 1" class="comma-icon">
                    </div>
                    <div class="d-flex mt-4">
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                        <i class="fas fa-star icon-star me-2"></i>
                    </div>
                    <p class="font-outfit-light-16 colour-1 mt-3">ANABEL - Manager</p>
                </div>
            </div>
        </div>
    </div>
</section>

  <section class="mt-lg-5 mt-4 pt-lg-4 ">
    <div class="container ">
      <div class=" col-lg-5 section-header mb-4">
        <p class="philosopher-40-bold colour-1 px-3 ">Latest News & Blogs</p>
        <hr class="hr-project">
        <p class="font-outfit-bold-24 fw-normal colour-3 px-3">Purus in massa tempor nec feugiat nisl pretium fusce. Nam at lectus urna duis convallis
          convallis tellus id.Tellus cras adipiscing enim eu turpis egestas pretium aenean.
       </p>
      </div>
      
        <div class="row web-scrollmenu px-lg-0 px-3 ">
          <div class="col-md-4 mb-3">
            <div class="card">
              <img src="../../assets/img/home/Border.png" class="card-img-top" alt="Card image 1">
              <div class=" pt-lg-4 pt-3 card-content">
                <p class="font-outfit-light-16 mb-1 mb-md-3 colour-3">January 29, 2024</p>
                <p class="font-outfit-bold-24 mb-1 mb-md-3 colour-1 text-uppercase">Benefits Of Email <br>Marketing</p>
                <p  class="project-font-20 mb-1 mb-md-3 colour-3">Lacinia at quis risus sed. Vitae aliquet nec ullamcorper sit. Donec massa sapien...</p>
                <a class="btn-seemore">Know More</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card">
              <img src="../../assets/img/home/Border.png" class="card-img-top" alt="Card image 2">
              <div class=" pt-lg-4 pt-3 card-content">
                <p class="font-outfit-light-16 mb-1 mb-md-3 colour-3">January 29, 2024</p>
                <p class="font-outfit-bold-24 mb-1 mb-md-3  colour-1 text-uppercase">Benefits Of Email <br>Marketing</p>
                <p  class="project-font-20 mb-1 mb-md-3 colour-3">Lacinia at quis risus sed. Vitae aliquet nec ullamcorper sit. Donec massa sapien...</p>
              
                <a class="btn-seemore">Know More</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card">
              <img src="../../assets/img/home/Border.png" class="card-img-top" alt="Card image 3">
              <div class=" pt-lg-4 pt-3 card-content">
                <p class="font-outfit-light-16 mb-1 mb-md-3 colour-3">January 29, 2024</p>
                <p class="font-outfit-bold-24 mb-1 mb-md-3 colour-1 text-uppercase">Benefits Of Email <br>Marketing</p>
                <p  class="project-font-20 mb-1 mb-md-3 colour-3">Lacinia at quis risus sed. Vitae aliquet nec ullamcorper sit. Donec massa sapien...</p>
                  <a class="btn-seemore">Know More</a>
              </div>
            </div>
          </div>
        </div>
      

      </div>
  
  </section>
  
  <section class=" mt-lg-5 mt-5 pt-lg-4 mb-lg-5 pb-5 mb-2">
    <div class="container px-lg-0 px-4">
        <div class="row " style="background: linear-gradient(180deg, #0559CC 0%, #01193A 100%);">
            <div class="mt-lg-5 pt-lg-5 pt-3 d-flex justify-content-between align-items-center px-lg-5">
                <div class="col-md-6 col-7 ">
                    <p class="card-section-font colour-2  mt-lg-5 mb-md-3 mb-2">CRAFTING UNIQUE SOLUTIONS FOR YOUR BUSINESS</p>
                </div>
                <div class="col-md-6 col-5  d-flex justify-content-end ">
                    <a class="btn-seemore mt-lg-5 mt-3 text-white fw-normal">
                        Get Started
                        <i class="fa-regular fa-circle mx-1 mt-1" style="color:  rgba(255, 255, 255, 1); font-size: 10px;"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


